{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>BI4U - Financeiro</title>
{% endblock head %}

{% block custom_scripts %}<script>

    $(document).ready(function () {

        $('#balanco_visor').html(Math.abs(parseFloat($('#BalanceValue').text().replace(',','.'))).toFixed(2).replace('.', ','));

        if (parseFloat($('#BalanceValue').text()) > 0) {
            $('#CollapseBodyBalance').addClass('text-success bg-success');
        } else if (parseFloat($('#BalanceValue').text()) == 0) {
            $('#CollapseBodyBalance').addClass('text-info bg-info');
        } else {
            $('#CollapseBodyBalance').addClass('text-danger bg-danger');
        }

       

    })


    function showLancamentoSubMenu (){
        if ($('.btnsubmenu').css('display') == 'none') {
        $('.btnsubmenu').fadeIn(1000);
        } else {
            $('.btnsubmenu').fadeOut(1000);
        }

    }


</script>{% endblock custom_scripts %}

{% block linked_refs %} <link rel="stylesheet" href='{% static "css/funcionarios_appmenu.css" %}'> {% endblock linked_refs %}


{% block content %}
    <div class="container" style="transform: translateX(-5%);">
        
        <div class="col-lg-3" style="transform:translateX(-25%);">
            
            <div id="BalanceValue" style="position: absolute; display: none;" hidden>{{obj_balancoatual.balanco}}</div>
            <div class="panel" style="box-shadow: none; box-sizing: none; border: none;">
                <button class="panel-heading text-center btn-block" data-target="#CollapseBodyBalance" data-toggle="collapse" role="button">Saldo Atual</button>
                <div id="CollapseBodyBalance" class="panel-body text-center collapse last-row"><h3>R$<span class="money" id="balanco_visor"></span></h3></div>
            </div>
        
        </div>
        
        <div class="col-lg-4" style="transform:translateX(-20%);">
            
            <div class="panel" style="box-shadow: none; box-sizing: none; border: none; background-color: inherit;">
                <button class="panel-heading text-center btn-block" data-target="#CollapseBody" data-toggle="collapse" role="button">Ultimos Lançamentos</button>
                <div id="CollapseBody" class="panel-body collapse" style="box-shadow: none; box-sizing: none; border: none; padding: 0px; margin:0px;">
                    <table class="table table-hover" style="padding:0px;">
                        <thead><tr class="last-row"><td>Produto</td><td class="text-right">Valor</td><td class="text-right">Data da Transação</td></tr></thead>
                        {% if input_0 %}
                        <tr {% if input_0.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{{input_0.produto}}</td><td class="text-right">{{input_0.valor}}</td><td class="text-right">{{input_0.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                        {% endif %}
                        {% if input_1 %}
                        <tr {% if input_1.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{{input_1.produto}}</td><td class="text-right">{{input_1.valor}}</td><td class="text-right">{{input_1.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                        {% endif %}
                        {% if input_2 %}
                        <tr {% if input_2.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{{input_2.produto}}</td><td class="text-right">{{input_2.valor}}</td><td class="text-right">{{input_2.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                        {% endif %}
                        {% if input_3 %}
                        <tr {% if input_3.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{{input_3.produto}}</td><td class="text-right">{{input_3.valor}}</td><td class="text-right">{{input_3.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                        {% endif %}
                        {% if input_4 %}
                        <tr {% if input_4.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger" {% endif %} ><td>{{input_4.produto}}</td><td class="text-right">{{input_4.valor}}</td><td class="text-right">{{input_4.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                        {% endif %}
                        {% if input_5 %}
                        <tr {% if input_5.cliente %} class="text-success bg-success last-row" {% else %} class="text-danger bg-danger last-row" {% endif %} ><td>{{input_5.produto}}</td><td class="text-right">{{input_5.valor}}</td><td class="text-right">{{input_5.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        
        </div>

        <div class="col-lg-5" style="transform: translateX(20%);">

            <div class="row">

                <div class="submenu">
                    <button class="col-lg-3 btn btnsubmenu" style=" color:white; position: absolute; transform:translate(10%, -100%); display: none;" data-toggle="modal" href="{% url 'lancamentosReceita' %}" data-target="#modalIncome">
                        <span>Receitas</span>
                    </button>
                    
                    <button class="col-lg-3 btn btnsubmenu" style=" color:white; position: absolute; transform:translate(-80%, -40%); display: none;" data-toggle="modal" href="{% url 'lancamentosDespesa' %}" data-target="#modalExpense">
                        <span>Despesas</span>
                    </button>
                </div>

            </div>

            <div class="row">

                <button class="col-lg-3 btn btnleft" id="btn_lancamento" onclick="showLancamentoSubMenu()" style="color:white;">
                    <span>Lançamentos</span>
                </button>

                <a href="/financeiro/lancamentos/">
                    <button class="col-lg-3 btn btnright" style="color:white;">
                        <span>Visualizar Lançamentos</span>
                    </button>        
                </a>

            </div>
            
            <div class="spacer-xl"></div>

            <div class="row">
                
                <a href="/financeiro/fluxo/">
                    <button class="col-lg-3 btn btnleft" style="color:white;">
                        <span>Fluxo de Caixa</span>
                    </button>
                </a>

                <button class="col-lg-3 btn btnright" style="color:white;">
                    <span>Outros</span>
                </button>
            
            </div>
        </div>
    </div>    

    <div class="modal fade" id="modalIncome"> <!--MODAL INCOME-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--/MODAL INCOME-->

    <div class="modal fade" id="modalExpense"><!--MODAL EXPENSE-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--MODAL EXPENSE-->

{% endblock content %}