{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>BI4U - Financeiro</title>
{% endblock head %}

{% block custom_scripts %}<script>

    $(document).ready(function () {

        $('#balanco_visor').html($('#BalanceValue').text().replace('-',''));

        if (parseFloat($('#BalanceValue').text()) > 0) {
            $('#CollapseBodyBalance').addClass('text-success bg-success');
        } else if (parseFloat($('#BalanceValue').text()) == 0) {
            $('#CollapseBodyBalance').addClass('text-info bg-info');
        } else {
            $('#CollapseBodyBalance').addClass('text-danger bg-danger');
        }

        var timer, keepOpen = false;

        $('#btn_lancamento').on("touchstart", function(){
            if ($('.btnsubmenu').is(':hidden')) {
                $('.btnsubmenu').fadeIn(1000);
            } else {
                $('.btnsubmenu').fadeOut(1000);
            }
        });

        $("#btn_lancamento").on("mouseenter", function() {
            clearTimeout(timer);
            $('.btnsubmenu').fadeIn(1000);
        }).on("mouseleave", function() {
            clearTimeout(timer);
            timer = setTimeout(function() {
                $('.btnsubmenu').fadeOut();
            }, 1000);
        });

        $('.submenu').on("mouseenter", function() {
            keepOpen = true;
            clearTimeout(timer);
            setTimeout(function() {
                keepOpen = false;
            }, 1000);
        }).on("mouseleave", function() {
            keepOpen = false;
            clearTimeout(timer);
            timer = setTimeout(function() {
                $('.btnsubmenu').fadeOut();
            }, 1000);
        });


    });

</script>{% endblock custom_scripts %}

{% block linked_refs %} <link rel="stylesheet" href='{% static "css/appmenu_funcionario.css" %}'> {% endblock linked_refs %}


{% block content %}
    <div class="row">
        
        <div class="col-md-8 col-md-push-4">
            <div class="spacer"></div>
            <div class="col-md-5" >
                
                <div id="BalanceValue" style="position: absolute; display: none;" hidden>{{obj_balancoatual}}</div>
                <div class="panel" style="box-shadow: none; box-sizing: none; border: none;background-color: inherit;">
                    <button class="panel-heading text-center btn-block panel-right" data-target="#CollapseBodyBalance" data-toggle="collapse" role="button" style="border-radius:500px;">Saldo Atual</button>
                    <div id="CollapseBodyBalance" class="panel-body text-center collapse" style="border: solid black 3px; margin-top: 10px; border-radius:15px;"><h3>R$<span class id="balanco_visor" ></span></h3></div>
                </div>
            
            </div>
            <div class="col-md-7">
                
                <div class="panel" style="box-shadow: none; box-sizing: none; border: none; background-color: inherit;">
                    <button class="panel-heading text-center btn-block panel-right" data-target="#CollapseBody" data-toggle="collapse" role="button" style="border-radius:500px;">Ultimos Lançamentos</button>
                    <div id="CollapseBody" class="panel-body collapse" style="box-shadow: none; box-sizing: none; padding: 0px; border: solid black 3px; margin-top: 10px; border-radius:15px;">
                        <table class="table table-hover" style="padding:0px;">
                            <thead><tr class="last-row"><td class="text-right">Identificador da Transação</td><td class="text-right">Valor</td><td class="text-right">Data da Transação</td></tr></thead>
                            {% if input_0 %}
                            <tr {% if input_0.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_0.cliente %} {{input_0.identificador_receita}} {% else %} {{input_0.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_0_value}}</td><td class="text-right">{{input_0.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            {% if input_1 %}
                            <tr {% if input_1.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_1.cliente %} {{input_1.identificador_receita}} {% else %} {{input_1.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_1_value}}</td><td class="text-right">{{input_1.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            {% if input_2 %}
                            <tr {% if input_2.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_2.cliente %} {{input_2.identificador_receita}} {% else %} {{input_2.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_2_value}}</td><td class="text-right">{{input_2.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            {% if input_3 %}
                            <tr {% if input_3.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_3.cliente %} {{input_3.identificador_receita}} {% else %} {{input_3.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_3_value}}</td><td class="text-right">{{input_3.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            {% if input_4 %}
                            <tr {% if input_4.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_4.cliente %} {{input_4.identificador_receita}} {% else %} {{input_4.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_4_value}}</td><td class="text-right">{{input_4.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            {% if input_5 %}
                            <tr {% if input_5.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_5.cliente %} {{input_5.identificador_receita}} {% else %} {{input_5.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_5_value}}</td><td class="text-right">{{input_5.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            {% if input_6 %}
                            <tr {% if input_6.cliente %} class="text-success bg-success middle-row" {% else %} class="text-danger bg-danger middle-row" {% endif %} ><td>{% if input_6.cliente %} {{input_6.identificador_receita}} {% else %} {{input_6.identificador_despesa}} {% endif %}</td><td class="text-right">{{input_6_value}}</td><td class="text-right">{{input_6.datahora_registro|date:"d/m/y H:i"}}</td></tr>
                            {% endif %}
                            
                        </table>
                    </div>
                </div>
            
            </div>
    
        </div>  

        <div class="col-md-4 col-md-pull-8" >
            <div class="spacer-lg hidden-xs"></div>
            <div class="col-md-10 hidden-xs"> <!--FINANCEIRO MENU-->
                    
                <button class="btn-block btnmenu panel-heading" id="btn_lancamento" style="color:white; margin: 75px 0;">
                    <span>Lançamentos </span>
                </button>

                <div class="submenu">
                    <button class="col-md-6  btn btnsubmenu panel-heading" style=" color:white; position: absolute; transform:translate(190%, -260%); display: none;" data-toggle="modal" href="{% url 'lancamentosReceita' %}" data-target="#modalIncome">
                        <span>Receitas</span>
                    </button>
                    
                    <button class="col-md-6 btn btnsubmenu panel-heading" style=" color:white; position: absolute; transform:translate(190%, -130%); display: none;" data-toggle="modal" href="{% url 'lancamentosDespesa' %}" data-target="#modalExpense">
                        <span>Despesas</span>
                    </button>
                </div>

                <button onclick="location.href='/financeiro/lancamentos/'" type="button" class="btn-block btnmenu panel-heading" style="color:white; margin: 75px 0;">
                    <span>Visualizar Lançamentos </span>
                </button>        

                <button onclick="location.href='/financeiro/fluxo/'" type="button" class="btn-block btnmenu panel-heading" style="color:white; margin: 75px 0;">
                    <span>Fluxo de Caixa </span>
                </button>
            
            </div>

            <div class="hidden-sm hidden-md hidden-lg"> <!--FINANCEIRO MENU - XS SCREEN-->
                <div class="spacer-lg"></div>

                <div class="btn-group btn-group-justified">
                                
                    <button class="btn-block btnmenu panel-heading" onclick="location.href='/financeiro/lancamentos/'" type="button">
                        <span>Visualizar Lançamentos </span>
                    </button>        
    
                    <button onclick="location.href='/financeiro/fluxo/'" type="button" class="btn-block btnmenu panel-heading">
                        <span>Fluxo de Caixa </span>
                    </button>
                
                </div>
            </div>


        </div>
    </div>

    <!--MODALS-->

    <div class="modal fade" id="modalIncome"> <!--MODAL INCOME-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--/MODAL INCOME-->

    <div class="modal fade" id="modalExpense"><!--MODAL EXPENSE-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--MODAL EXPENSE-->

{% endblock content %}