{% load widget_tweaks %}
{% load static %}
<script src='{% static "js/custom_masks.js" %}'></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Lançamento de Despesa</h4>
</div>
<div class="modal-body">

    <form action="{% url 'lancamentosDespesa' %}" method="POST" class="form-horizontal">  {% csrf_token %}
        
        <div class="row">

            <!--VALUE-->
            <div class="form-group col-lg-5">
                <label for="{{ formExpense.valor.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.valor.label }} (R$)
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.valor class="form-control money" placeholder="0,00" %}
                </div>
            </div>

            <!--DISCOUNT PERCENTAGE-->
            <div class="form-group col-lg-7">
                <label for="{{ formExpense.percentual_desconto.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.percentual_desconto.label }} (%)
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.percentual_desconto class="form-control money" placeholder="0,00" %}
                </div>
            </div>

            <!--PRODUCTS-->
            <div class="form-group col-lg-5">
                <label for="{{ formExpense.produto.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.produto.label }}
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.produto class="form-control" placeholder=formExpense.produto.label %}
                </div>
            </div>
            
            <!--EXPENSE CLASSIFICATION-->
            <div class="form-group col-lg-7">
                <label for="{{ formExpense.classificacao_despesa.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.classificacao_despesa.label }}
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.classificacao_despesa class="form-control" placeholder=formExpense.classificacao_despesa.label %}
                </div>
            </div>


        </div>

        <div class="row">

            <!--PRODUCTS QUANTITY-->
            <div class="form-group col-lg-5">
                <label for="{{ formExpense.quantidade_produto.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.quantidade_produto.label }}
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.quantidade_produto class="form-control" placeholder="0" %}
                </div>
            </div>
            
            <!--DUE DATE-->
            <div class="form-group col-lg-7">
                <label for="{{ formExpense.data_vencimento.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.data_vencimento.label }}
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.data_vencimento class="form-control date" placeholder="DD/MM/YYYY" %}
                </div>
            </div>

            <div class=" form-group col-lg-5" style="visibility: hidden;" id="period_selector_expense">
                <label for="periodicidade" class="control-label col-lg-5 text-right">Periodicidade</label>
                <div class="col-lg-7">
                    <select name="periodicidade" id="periodicidade" class="form-control">
                        <option value="" selected>----------</option>
                        <option value="1">Diária</option>
                        <option value="2">Semanal</option>
                        <option value="3">Quinzenal</option>
                        <option value="4">Mensal</option>
                        <option value="5">Trimestral</option>
                        <option value="6">Semestral</option>
                        <option value="7">Anual</option>
                    </select>
                </div>
            </div>


            <!--PAYMENT METHOD-->
            <div class="form-group col-lg-7">
                <label for="{{ formExpense.forma_pagamento.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ formExpense.forma_pagamento.label }}
                </label>
                <div class="col-lg-7">
                    {% render_field formExpense.forma_pagamento class="form-control" %}
                </div>
            </div>


        </div>


        <div class="row">
            
            <!--OBSERVATIONS-->
            <div class="form-group col-lg-8" style="transform:translateX(-0,5%);">
                <label for="{{ formExpense.observacao.id_for_label }}" class = "control-label col-lg-3 text-right">
                    {{ formExpense.observacao.label }}
                </label>
                <div class="col-lg-9">
                    {% render_field formExpense.observacao rows="5" style="resize:none;" class="form-control" placeholder=formExpense.observacao.label %}
                </div>
            </div>

            <div class="col-lg-4">

                <div class="row" style="transform: translateY(50%);">
                    <!--RECURRING EXPENSE TOGGLE-->
                    <label class="col-sm-6 text-left" style="transform: translate(-10%, 10%);"> {{ formExpense.despesa_fixa.label }} </label>
                    <div class="form-group col-sm-6 text-center">
                        <div class="checkbox" onclick='showField("EIT", "period_selector_expense")'>
                            <label for="EIT" class = "checkbox control-label switch" style="transform: translateY(-25%);">
                                {% render_field formExpense.despesa_fixa id="EIT" name="EIT" class="form-control" placeholder=formExpense.despesa_fixa.label %}
                                <span class="slider round"><span class="on">sim</span><span class="off">não</span></span>
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="transform: translateY(100%);">
                    <div class="">
                        <button name="expenseform" class="btn btn-success col-lg-10" type="submit" style="background: #FFA31A; color:white; border-color: #FFA31A;">Salvar</button>
                    </div>             
                </div>
            </div>
            
        </div>

        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>
