{% load widget_tweaks %}
{% load static %}
<script src='{% static "js/custom_masks.js" %}'></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Lançamento de Despesa</h4>
</div>
<div class="modal-body">

    <form id="outForm" data-done-ref="{% url 'lancamentosDespesa' %}" action="{% url 'lancamentosDespesa' %}" method="POST" class="form-horizontal">  {% csrf_token %}
        
        <div class="row">
            <!--EXPENSE IDENTIFIER-->
            <div class="form-group col-lg-5">
                <label for="{{ formExpense.identificador_despesa.id_for_label }}" class = "control-label col-lg-7 text-right">
                    {{ formExpense.identificador_despesa.label }}
                </label>
            </div>
            <div class="form-group col-lg-7">
                <div class="col-lg-12">
                    {% render_field formExpense.identificador_despesa class="form-control" placeholder="Identificador da Despesa" %}
                </div>
            </div>

        </div>

        <div class="row">

            <div class="form-group">
                <!--PAYMENT METHOD LABEL-->
                <div class="form-group col-lg-5">
                    <label for="{{ formExpense.forma_pagamento.id_for_label }}" class = "control-label col-lg-7 text-right">
                        {{ formExpense.forma_pagamento.label }}
                    </label>
                </div>

                <!--PAYMENT METHOD-->
                <div class="form-group col-lg-7">
                    <div class="col-lg-12">
                        {% render_field formExpense.forma_pagamento class="form-control" %}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            
            <!--OBSERVATIONS-->
            <div class="form-group col-lg-8" style="transform:translateX(-0,5%);">
                <label for="{{ formExpense.observacao.id_for_label }}" class = "control-label col-lg-3 text-right">
                    {{ formExpense.observacao.label }}
                </label>
                <div class="col-lg-9">
                    {% render_field formExpense.observacao rows="5" style="resize:none;" class="form-control" placeholder=formExpense.observacao.label %}
                </div>
            </div>

            <div class="col-lg-4" style="transform: translateY(28 0%);">                
                    <button name="expenseform" class="btn btn-success col-lg-10" type="submit" style="background: #FFA31A; color:white; border-color: #FFA31A;">Adicionar Produtos</button>
                </div>
            </div>
            
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
</div>

<script>
    var frm = $('#outForm');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $(".modal-body").html(data);
            },
            error: function(data) {
                $(".modal-body").html("Something went wrong!");
            }
        });
        return false;
    });
</script>