{% load static %}
<script src='{% static "js/custom_masks.js" %}'></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title text-center bold-text lead">Fatura</h4>
</div>
<div class="modal-body">
    {% for order in orders %}
    
    <legend>
        <h1 class="text-center"><small>Ordem de Serviço </small><small> #{{order.OS}}</small></h1>
    </legend>
    
    <legend>
        <h1 class="text-right"><small>Serviços</small></h1>
    </legend>
    

    <table class="table">
        <thead>
            <th>Descrição</th>
            <th>Funcionário</th>
            <th>Horas</th>
            <th>Valor</th>
        </thead>
        {% for description in order.descricao_servico_OS.all %}
        <tr>
            <td>{{description.descricao}}</td>
            <td>{{description.funcionario}}</td>
            <td>{{description.qtd_horas}}</td>
            <td class="form-inline"><input type="text" value="{{description.valor_total}}" class="money form-control"></td>
        </tr>
        {% endfor %}
    </table>

    <div class="row">
        <div class="col-sm-offset-9 col-sm-3 pull-left">
            <span class="bold-text text-primary" style="font-size: 1.3em">subtotal: </span>
            <span style="font-size: 1.5em js-subtotal-{{forloop.counter}}">R$1.500,00</span>
        </div>
    </div>
    

    <div class="spacer-xxs"></div>

    {% endfor %}

</div>

