{% extends 'base.html' %}
{% load static %}

{% block linked_refs %}
    <link rel="stylesheet" href="{% static 'css/financial_flow.css' %}">
{% endblock linked_refs %}

{% block custom_scripts %}
<script>
    $(document).ready(function (){
        $("#alert").addClass('in'); // Show Error Message, If Any

        var saldo_total = 0.0;
        var receita_total = 0.0;
        var despesa_total = 0.0;

        $('tr').each(function (){
            if (!$(this).parent().is('thead') && !$(this).parent().is('tfoot')) {
                var receita = parseFloat($(this).children(':nth-child(2)').text().replace('.', '').replace(',', '.'));
                var despesa = parseFloat($(this).children(':nth-child(3)').text().replace('.', '').replace(',', '.'));

                if (isNaN(receita)) {
                    receita = 0.00
                };
                if (isNaN(despesa)) {
                    despesa = 0.00
                };

                var saldo = receita - despesa;
                var saldo_str = saldo.toFixed(2).replace('.', ',');
                if (saldo != 0) {
                    $(this).children(':nth-child(4)').html(saldo_str);
                }

                if (saldo > 0){
                    $(this).children(':nth-child(4)').addClass('bg-success text-success');
                } else if (saldo < 0) {
                    $(this).children(':nth-child(4)').addClass('bg-danger text-danger');
                }

                receita_total = receita_total + receita
                despesa_total = despesa_total + despesa
                saldo_total = saldo_total + saldo

                $(this).children(':nth-child(4)').addClass('money');
            }
        })

        $('tfoot tr').children(':nth-child(2)').html(receita_total.toFixed(2).replace('.', ','));
        $('tfoot tr').children(':nth-child(3)').html(despesa_total.toFixed(2).replace('.', ','));
        $('tfoot tr').children(':nth-child(4)').html(saldo_total.toFixed(2).replace('.', ','));

        if (saldo_total > 0){
            $('tfoot tr').children(':nth-child(4)').addClass('bg-success text-success');
        } else if (saldo_total < 0) {
            $('tfoot tr').children(':nth-child(4)').addClass('bg-danger text-danger');
        }

        

    })
</script>
{% endblock custom_scripts %}

{% block content %}
{% if ERROR == 1 %}
    <div id="alert" class="alert alert-warning alert-dismissible fade row-offset-y-lg text-left">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ERROR_HEADER}} </strong> {{ERROR_MESSAGE}}
    </div>
{% endif %}
<div class="container-fluid row-offset-y-sm">

    <!--Tables Monthly-->
    <div class="row row-offset-lg">
        <div class="col-lg-4">
            <table class="table table-hover table-responsive">
                <thead name="thead"><tr><td><strong>Dia</strong></td><td><strong>Receita</strong></td><td><strong>Despesa</strong></td><td><strong>Saldo</strong></td></tr></thead>
                <tbody>
                    <tr id="1"><td>1</td><td id="income_1" class="money">{{income_1}}</td><td id="expense_1" class="money">{{expense_1}}</td><td id="balance_1" class="money"></td></tr>
                    <tr id="2"><td>2</td><td id="income_2" class="money">{{income_2}}</td><td id="expense_2" class="money">{{expense_2}}</td><td id="balance_2" class="money"></td></tr>
                    <tr id="3"><td>3</td><td id="income_3" class="money">{{income_3}}</td><td id="expense_3" class="money">{{expense_3}}</td><td id="balance_3" class="money"></td></tr>
                    <tr id="4"><td>4</td><td id="income_4" class="money">{{income_4}}</td><td id="expense_4" class="money">{{expense_4}}</td><td id="balance_4" class="money"></td></tr>
                    <tr id="5"><td>5</td><td id="income_5" class="money">{{income_5}}</td><td id="expense_5" class="money">{{expense_5}}</td><td id="balance_5" class="money"></td></tr>
                    <tr id="6"><td>6</td><td id="income_6" class="money">{{income_6}}</td><td id="expense_6" class="money">{{expense_6}}</td><td id="balance_6" class="money"></td></tr>
                    <tr id="7"><td>7</td><td id="income_7" class="money">{{income_7}}</td><td id="expense_7" class="money">{{expense_7}}</td><td id="balance_7" class="money"></td></tr>
                    <tr id="8"><td>8</td><td id="income_8" class="money">{{income_8}}</td><td id="expense_8" class="money">{{expense_8}}</td><td id="balance_8" class="money"></td></tr>
                    <tr id="9"><td>9</td><td id="income_9" class="money">{{income_9}}</td><td id="expense_9" class="money">{{expense_9}}</td><td id="balance_9" class="money"></td></tr>
                    <tr id="10"><td>10</td><td id="income_10" class="money">{{income_10}}</td><td id="expense_10" class="money">{{expense_10}}</td><td id="balance_10" class="money"></td></tr>
                    <tr id="11"><td>11</td><td id="income_11" class="money">{{income_11}}</td><td id="expense_11" class="money">{{expense_11}}</td><td id="balance_11" class="money"></td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-hover table-responsive">
                <thead><tr><td><strong>Dia</strong></td><td><strong>Receita</strong></td><td><strong>Despesa</strong></td><td><strong>Saldo</strong></td></tr></thead>
                <tbody>
                    <tr id="12"><td>12</td><td id="income_12" class="money">{{income_12}}</td><td id="expense_12" class="money">{{expense_12}}</td><td id="balance_12" class="money"></td></tr>
                    <tr id="13"><td>13</td><td id="income_13" class="money">{{income_13}}</td><td id="expense_13" class="money">{{expense_13}}</td><td id="balance_13" class="money"></td></tr>
                    <tr id="14"><td>14</td><td id="income_14" class="money">{{income_14}}</td><td id="expense_14" class="money">{{expense_14}}</td><td id="balance_14" class="money"></td></tr>
                    <tr id="15"><td>15</td><td id="income_15" class="money">{{income_15}}</td><td id="expense_15" class="money">{{expense_15}}</td><td id="balance_15" class="money"></td></tr>
                    <tr id="16"><td>16</td><td id="income_16" class="money">{{income_16}}</td><td id="expense_16" class="money">{{expense_16}}</td><td id="balance_16" class="money"></td></tr>
                    <tr id="17"><td>17</td><td id="income_17" class="money">{{income_17}}</td><td id="expense_17" class="money">{{expense_17}}</td><td id="balance_17" class="money"></td></tr>
                    <tr id="18"><td>18</td><td id="income_18" class="money">{{income_18}}</td><td id="expense_18" class="money">{{expense_18}}</td><td id="balance_18" class="money"></td></tr>
                    <tr id="19"><td>19</td><td id="income_19" class="money">{{income_19}}</td><td id="expense_19" class="money">{{expense_19}}</td><td id="balance_19" class="money"></td></tr>
                    <tr id="20"><td>20</td><td id="income_20" class="money">{{income_20}}</td><td id="expense_20" class="money">{{expense_20}}</td><td id="balance_20" class="money"></td></tr>
                    <tr id="21"><td>21</td><td id="income_21" class="money">{{income_21}}</td><td id="expense_21" class="money">{{expense_21}}</td><td id="balance_21" class="money"></td></tr>
                    <tr id="22"><td>22</td><td id="income_22" class="money">{{income_22}}</td><td id="expense_22" class="money">{{expense_22}}</td><td id="balance_22" class="money"></td></tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-hover table-responsive">
                <thead><tr><td><strong>Dia</strong></td><td><strong>Receita</strong></td><td><strong>Despesa</strong></td><td><strong>Saldo</strong></td></tr></thead>
                <tbody>
                        <tr id="23"><td>23</td><td id="income_12" class="money">{{income_23}}</td><td id="expense_23" class="money">{{expense_23}}</td><td id="balance_23" class="money"></td></tr>
                        <tr id="24"><td>24</td><td id="income_13" class="money">{{income_24}}</td><td id="expense_24" class="money">{{expense_24}}</td><td id="balance_24" class="money"></td></tr>
                        <tr id="25"><td>25</td><td id="income_14" class="money">{{income_25}}</td><td id="expense_25" class="money">{{expense_25}}</td><td id="balance_25" class="money"></td></tr>
                        <tr id="26"><td>26</td><td id="income_15" class="money">{{income_26}}</td><td id="expense_26" class="money">{{expense_26}}</td><td id="balance_26" class="money"></td></tr>
                        <tr id="27"><td>27</td><td id="income_16" class="money">{{income_27}}</td><td id="expense_27" class="money">{{expense_27}}</td><td id="balance_27" class="money"></td></tr>
                        <tr id="28"><td>28</td><td id="income_17" class="money">{{income_28}}</td><td id="expense_28" class="money">{{expense_28}}</td><td id="balance_28" class="money"></td></tr>
                        <tr id="29"><td>29</td><td id="income_18" class="money">{{income_29}}</td><td id="expense_29" class="money">{{expense_29}}</td><td id="balance_29" class="money"></td></tr>
                        <tr id="30"><td>30</td><td id="income_19" class="money">{{income_30}}</td><td id="expense_30" class="money">{{expense_30}}</td><td id="balance_30" class="money"></td></tr>
                        <tr id="31"><td>31</td><td id="income_20" class="money">{{income_31}}</td><td id="expense_31" class="money">{{expense_31}}</td><td id="balance_31" class="money"></td></tr>
                </tbody>
                <tfoot>
                    <tr id="total" class="last-row"><td><strong>TOTAL</strong></td><td></td><td></td><td></td></tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--Selection Menu-->
    <div class="row row-offset-y-sm">
        <form action="" class="form-inline">
            <div class="form-group col-lg-2 text-left">
                <label for="month" class="control-label">Mês</label>
                <select name = "month" id = "month" class="form-control">
                    <option value="" selected>-----</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select> 
            </div>
            <div class="form-group col-lg-2 text-left">
                <label for="year" class="control-label">Ano</label>
                <select name = "year" id = "year" class = "form-control">
                    {% for year in years %}
                        <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-orange btn-block">Mostrar Fluxo de Caixa</button>
            </div>
        </form>
    </div>
    

</div>
{% endblock content %}

