{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<title>BI4U - Gerar Fatura</title>
{% endblock head %}

{% block customcss %}
<style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: #3c3c3c;
        color: white;
    }
    .btn-fatura {
        background: var(--orange); 
        color: white;
    }

    .btn-fatura:hover {
        background-color: var(--darkorange);
        color: white;
    }

</style>
{% endblock customcss %}


{% block content %}
    <label for="cliente">Escolha o Cliente</label>
    {% render_field form.cliente class="form-control" id="cliente" %}

    <div class="spacer"></div>

    <table id="OSList" class="table table-hover"></table>

    <div class="spacer"></div>

    <button class="btn btn-fatura pull-right" id="btn-fatura">Gerar Fatura</button>


    <!--Modal Placeholders-->
    <div class="modal fade" id="modal-fatura" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="js-modal-fatura">
            </div>
        </div>
    </div>


{% endblock content %}


{% block custom_scripts %}
<script>

    function markchecked(event, row){
        row.find('input:checkbox:first').each(function(){
            if ($(this).prop('checked')) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        })
    }

    $(document).ready(function() {

        $("#btn-fatura").click(function(){

            var orders = $('input:checkbox:checked').map(function(){
                return $(this).val();
            }).get().join();

            if (orders != '') {
                $.ajax({
                    url: '{% url "financeiro/api/geraFatura" %}',
                    data: {
                        'orders': orders
                    },
                    dataType: 'html',
                    success: function (data) {
                        $('#js-modal-fatura').html('');
                        $('#js-modal-fatura').append(data);
                        $('#modal-fatura').modal();
                    },
                    error: function(error){
                        console.log("error")
                        console.log(error)
                    }
                })
            }
        });


        $("#cliente").change(function(){            
            $.ajax({
                url: '{% url "financeiro/api/listaOS" %}',
                data: {
                    'cliente': $(this).val()
                },
                dataType: 'html',
                success: function (data) {
                    $('#OSList').html('');
                    $('#OSList').append(data);
                },
                error: function(error){
                    console.log("error")
                    console.log(error)
                }
            })
        });
    });
</script>
{% endblock custom_scripts %}