{% load widget_tweaks %}

<div class="spacer"></div>

<form action="" method="POST" class="form-horizontal">  {% csrf_token %}
    
    <div class="row">

        <!--VALUE-->
        <div class="form-group col-lg-4" style="transform:translateX(-2%)">
            <label for="{{ form.valor.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.valor.label }} (R$)
            </label>
            <div class="col-lg-7">
                {% render_field form.valor class="form-control money" placeholder="0,00" %}
            </div>
        </div>

        <!--DISCOUNT PERCENTAGE-->
        <div class="form-group col-lg-5">
            <label for="{{ form.percentual_desconto.id_for_label }}" class = "control-label col-lg-7 text-right">
                {{ form.percentual_desconto.label }} (%)
            </label>
            <div class="col-lg-5">
                {% render_field form.percentual_desconto class="form-control money" placeholder="0,00" %}
            </div>
        </div>

        <!--RECURRING INCOME TOGGLE-->
        <label class="col-lg-2 col-sm-6 text-right" style="transform: translateY(25%);"> {{ form.receita_fixa.label }} </label>
        <div class="form-group col-lg-2 col-sm-6">
            <div class="checkbox">
                <label for="RIT" class = "checkbox control-label switch" style="transform: translateY(-25%);">
                        {% render_field form.receita_fixa id="RIT" class="form-control" placeholder=form.receita_fixa.label %}
                    <span class="slider round"><span class="on">sim</span><span class="off">não</span></span>
                </label>
            </div>
        </div>
        
    </div>

    <div class="spacer"></div>

    <div class="row">
        
        
        {% if form.cliente %}
        <!--CLIENT-->
        <div class="form-group col-lg-5">
            <label for="{{ form.cliente.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.cliente.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.cliente class="form-control" placeholder=form.cliente.label %}
            </div>
        </div>
        {% endif %}

        <!--PAYMENT METHOD-->
        <div class="form-group col-lg-7">
            <label for="{{ form.forma_pagamento.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.forma_pagamento.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.forma_pagamento class="form-control" placeholder=form.forma_pagamento.label %}
            </div>
        </div>


    </div>

    <div class="row">

        <!--PRODUCTS-->
        <div class="form-group col-lg-5">
            <label for="{{ form.produto.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.produto.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.produto class="form-control" placeholder=form.produto.label %}
            </div>
        </div>
        
        {% if form.classificacao_receita %}
        <!--INCOME CLASSIFICATION-->
        <div class="form-group col-lg-7">
            <label for="{{ form.classificacao_receita.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.classificacao_receita.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.classificacao_receita class="form-control" placeholder=form.classificacao_receita.label %}
            </div>
        </div>
        {% else %}
        <!--EXPENSE CLASSIFICATION-->
        <div class="form-group col-lg-7">
            <label for="{{ form.classificacao_despesa.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.classificacao_despesa.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.classificacao_despesa class="form-control" placeholder=form.classificacao_despesa.label %}
            </div>
        </div>

        {% endif %}


    </div>

    <div class="row">

        <!--PRODUCTS QUANTITY-->
        <div class="form-group col-lg-5">
            <label for="{{ form.quantidade_produto.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.quantidade_produto.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.quantidade_produto class="form-control" placeholder="0" %}
            </div>
        </div>
        
        <!--DUE DATE-->
        <div class="form-group col-lg-7">
            <label for="{{ form.data_vencimento.id_for_label }}" class = "control-label col-lg-5 text-right">
                {{ form.data_vencimento.label }}
            </label>
            <div class="col-lg-7">
                {% render_field form.data_vencimento class="form-control date" placeholder="DD/MM/YYYY" %}
            </div>
        </div>

    </div>


    <div class="row">

        <!--OBSERVATIONS-->
        <div class="form-group col-lg-8" style="transform:translateX(-0,5%);">
            <label for="{{ form.observacao.id_for_label }}" class = "control-label col-lg-3 text-right">
                {{ form.observacao.label }}
            </label>
            <div class="col-lg-9">
                {% render_field form.observacao rows="5" style="resize:none;" class="form-control" placeholder=form.observacao.label %}
            </div>
        </div>

        <div class="col-lg-4">
            <div class="col-lg-2"></div>
            <button name = "incomeform" class="btn btn-success col-lg-5" type="submit" style="margin-left:20px; margin-top:40px; background: RGB(255, 163, 26); color:white; border-color: RGB(255, 163, 26);">Salvar</button>
        </div>
    

    </div>


    
</form>
