{% load widget_tweaks %}
{% load static %}
<script src='{% static "js/custom_masks.js" %}'></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Lançamento de Receita</h4>
</div>
<div class="modal-body">

    <form id="inForm" action="{% url 'lancamentosReceita' %}" method="POST" class="form-horizontal" data-done-ref = "{% url 'lancamentosReceita' %}">  {% csrf_token %}
        
        <div class="row">
            <!--INCOME IDENTIFIER-->
            <div class="form-group">
                <label for="{{ form.identificador_receita.id_for_label }}" class = "control-label col-lg-3 text-right">
                    {{ form.identificador_receita.label }}
                </label>
                <div class="col-lg-8">
                    {% render_field form.identificador_receita class="form-control" placeholder="Identificador da Receita" %}
                </div>
            </div>

        </div>

        <div class="row">
    
            <!--PAYMENT METHOD-->
            <div class="form-group col-lg-7">
                <label for="{{ form.forma_pagamento.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ form.forma_pagamento.label }}
                </label>
                <div class="col-lg-7" style="transform: translateX(4%)">
                    {% render_field form.forma_pagamento class="form-control" placeholder=form.forma_pagamento.label %}
                </div>
            </div>

            <!--CLIENT-->
            <div class="form-group col-lg-5" id="cliente" style="visibility: hidden;">
                <label for="{{ form.cliente.id_for_label }}" class = "control-label col-lg-5 text-right">
                    {{ form.cliente.label }}
                </label>
                <div class="col-lg-7">
                    {% render_field form.cliente class="form-control" placeholder=form.cliente.label %}
                </div>
            </div>


        </div>

        <div class="spacer-sm"></div>

        <div class="row">

            <!--OBSERVATIONS-->
            <div class="form-group col-lg-8" style="transform:translateX(-0,5%);">
                <label for="{{ form.observacao.id_for_label }}" class = "control-label col-lg-3 text-right">
                    {{ form.observacao.label }}
                </label>
                <div class="col-lg-9">
                    {% render_field form.observacao rows="5" style="resize:none;" class="form-control" placeholder=form.observacao.label %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">

                    <div class="text-right col-sm-6" style="transform: translateY(50%);">Adicionar Cliente </div>
                    <div class="form-group col-sm-6">
                        <div class="checkbox" onclick='showField("cliente-tgl", "cliente")'>
                            <label for="cliente-tgl" class = "checkbox control-label switch">
                                <input type="checkbox" id="cliente-tgl" name="cliente-tgl">
                                <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                            </label>
                        </div>
                    </div>
        
                    <button name = "incomeform" class="btn btn-success col-lg-9" type="submit" style="margin-left:20px; margin-top:40px; background: RGB(255, 163, 26); color:white; border-color: RGB(255, 163, 26);">Adicionar Produtos</button>
                </div>
            </div>   

        </div>
    </form>
</div>


<script>
    var frm = $('#inForm');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $(".modal-body").html(data);
            },
            error: function(data) {
                $(".modal-body").html("Something went wrong. Please try again later.");
            }
        });
        return false;
    });
</script>