{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <style>
      body{
          background-image: url('{% static "/strucimg/fundo_GAP_branco.jpg" %}'); 
          background-size: cover;
          }
      .spacer{
        margin-top:30px;
      }
    </style>
    {% block head %}      <!--HEAD CONTENT HERE-->      {% endblock head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!--TWITTER BOOTSTRAP CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    <script src='{% static "jquery-3.3.1.min" %}'></script>
    <script src='{% static "utils.js" %}'></script>

    {% block linked_refs %}     <!--LINKED REFERENCES HERE-->     {% endblock linked_refs %}
  </head>
  <body>
    {% block custom_page_style %}     <!--CUSTOM PAGE STYLE HERE-->     {% endblock custom_page_style %}
    {% block content %}     <!--BODY CONTENT HERE-->     {% endblock content %}
  </body>
</html>