{% load static %}

{% include 'sidenav.html' %}
<div class = "row" style="padding:30px 0;">

    <div class="col-lg-1"></div>
    <div class="col-lg-1"><img src="{% static 'strucimg/Logo_3e.png' %}" style="width:100%; height: auto; margin-left:-100%; cursor: pointer;" onclick="openNav()"/></div>
    <div class="col-lg-8"></div>
    <div class="col-lg-1"><img src="{% static 'strucimg/Logo_3e.png' %}" style="width:100%; height: auto; float: right; margin-right:-100%;"/></div>
    <div class="col-lg-1"></div>

</div>


  <!-- Use any element to open the sidenav 
  <button onclick="openNav()" class="btn btn-primary btn-md">open</button>
  -->