<!--RGB(18,43,65) - RGB(255,163,26)-->

{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load django_tables2 %}

{% block head %}
    <title>BI4U - Cliente</title>
{% endblock head %}

{% block custom_scripts %}

<script>

    $(document).ready(function(){

        // Table Filtering
        $("#js-filter-search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#js-filter-employee-table tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // DISABLE MENU OVERFLOW
        $('html').css('overflow', 'hidden');

        // DEFAULT SEARCH MASK AS CPF
        $('#search-field').mask('000.000.000-00', {reverse: true});
        $('#search-field').attr('placeholder', "000.000.000-00");

        // LISTEN FOR CHANGES IN SEARCH SELECT INPUT FOR MASKING INPUTBOX
        $('select').on('change', function() {
            var method = this.value;


            if (method == "CPF"){
                $('#search-field').mask('000.000.000-00', {reverse: true});
                $('#search-field').attr('placeholder', "000.000.000-00");
            } else if (method == "CNPJ") {
                $('#search-field').mask('00.000.000/0000-00', {reverse: true});
                $('#search-field').attr('placeholder', "00.000.000/0000-00");
            } else if (method == "ID") {
                $('#search-field').mask('##', {reverse: true});
                $('#search-field').attr('placeholder', "ID do Cliente");
            } else if (method == "NOME") {
                // REMOVE MASK
                $('#search-field').unmask();
                $('#search-field').attr('placeholder', "Nome da Empresa");
                
                // AUTOCOMPLETE SEARCH BY NAME
                $(function() {
                    $("#search-field").autocomplete({
                        source: "api/get_by_name/",
                        minLength: 1,
                        messages: {
                            noResults : '',
                            results : function() {}
                        }
                    });
                });
            }
        });

        // LISTEN TO EID AND MAKE EMPLOYEE LINKS
        $(".eid").each(function(){
            var id = $(this).text()
            if (id !== '') {
                $(this).prev().on("click", function(e){
                    e.preventDefault();
                    visualizeEmployee(id)
                });
            }
        });

        // Adding Popover Event to Picture
        $('[data-toggle="popover"]').popover();

        //  Makes Employee Preview Visible
        console.log(window.location.hash);
        
        if (window.location.hash === "#load") {
            console.log("YATTA");
            
            $("#customer_preview").css('display', 'block');
        }

    });

    // Creating Visualize Employee URL and Assigning Window Location
    function visualizeClient() {
        var id = document.getElementById("cid").textContent

        if (id !== '') {
            window.location.assign("/cliente/visualizar/" + id);
        } else if (id == ''){
            document.getElementById("alert2").style.display = "block";
        }
    }

    function visualizeEmployee(id) {
        window.location.assign("/funcionario/visualizar/" + id);
    };

    function occurrenceShutDownRB() {
        var OSDRB = document.getElementById('opt3');
        var OSDTA = document.getElementById('occurrenceShutDown');

        if (OSDRB.checked) {
            OSDTA.style.display = "block";
        } else {
            OSDTA.style.display = "none";
        }
    }
</script>

{% endblock custom_scripts %}

{% block customcss %}

    <link rel="stylesheet" href='{% static "css/appmenu_funcionario.css" %}'>

{% endblock customcss %}


{% block content %}
    <div class="row"> <!--ERROR ROW BEGINS-->

        {% if ERROR %}
            <div id="alert" class="alert alert-danger alert-dismissible fade in col-sm-5">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ERROR_HEADER}}</strong><span class="pull-right">{{ERROR_MSG}}</span>
            </div>
        {% endif %}

    </div> <!--ERROR ROW ENDS-->

    <div class="row"> <!--CONTENT ROW BEGINS-->
        <div class="col-lg-5 col-md-push-6"> <!--EMPLOYEE INFORMATION BEGINS-->
            <div class="spacer"></div>
            <legend for="search-field" class="text-right">Buscar Cliente</legend>
            <form method="GET" action="/cliente#load" class="row-no-gutters">
                <div class="col-sm-3">
                    <select class="form-control" name="search-method" id="search-method">
                        <option value="CPF" selected>CPF</option>
                        <option value="CNPJ">CNPJ</option>
                        <option value="ID">ID</option>
                        <option value="NOME">Nome</option>
                    </select>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input name="search-id" id="search-field" type="text" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row" style="display:none;" id="customer_preview">
                <div class="spacer hidden-xs"></div>
                <div class="hidden-sm hidden-md hidden-lg spacer-xl"></div>
                <div class="col-sm-3 col-sm-push-8 col-sm-offset-1 col-xs-offset-3">
                    <div class="spacer"></div>
                    {% if not SEARCH_OBJ.ativo  %}
                        {% thumbnail imageObject.docscan_picture "250x250" colorspace="GRAY" as im %}
                        <img data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Clique aqui para maiores informações sobre o Cliente." src="{{ im.url }}" style='border-radius:50px; padding:1px; transform: translateY(-15%); cursor: pointer;' onclick="visualizeClient()">
                        {% empty %}
                            <button class="btn btnmenu" style="margin: 0;" onclick="visualizeClient()">Visualizar Cliente</button>
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail imageObject.docscan_picture "250x250" as im %}
                        <img data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Clique aqui para maiores informações sobre o Cliente." src="{{ im.url }}" style='border-radius:50px; padding:1px; transform: translateY(-15%); cursor: pointer;' onclick="visualizeClient()">
                        {% empty %}
                            <button class="btn btnmenu" style="margin: 0;" onclick="visualizeClient()">Visualizar Cliente</button>
                        {% endthumbnail %}
                    {% endif %}
                </div>

                <div class="col-sm-8 col-sm-pull-4 bold-text employee-info">

                    <div>Nome:<span class="pull-right">{{SEARCH_OBJ.nome}}</span></div>
                    
                    {% if SEARCH_OBJ.numero_documento_CPF %}
                        <div>CPF:<span class="pull-right" id="officialCPF">{{SEARCH_OBJ.numero_documento_CPF}}</span></div>
                    {% endif %}
                    {% if SEARCH_OBJ.numero_documento_CNPJ %}
                        <div>CNPJ:<span class="pull-right" id="officialCPF">{{SEARCH_OBJ.numero_documento_CNPJ}}</span></div>
                    {% endif %}
                        <div>Status:
                    <span class="pull-right">
                        {% if not SEARCH_OBJ.servico_ativo %}
                            Serviço Inativo
                        {% else %}
                            Serviço Ativo
                        {% endif %}
                    </span>
                    </div>
                    <div>ID:<span class="pull-right" id="cid">{{SEARCH_OBJ.id}}</span></div>

                    <br>
                    <!--
                    <span>Funcionários Atribuidos:</span><br/>
                    <br>
                    {% for employee in SEARCH_OBJ_EMPLOYEES.funcionario_atrib.all %}
                        <button class="btn btnmenu" style="margin: 0;" onclick="visualizeEmployee(this)">{{ employee }}</button>
                        <div class="hidden-xs hidden-sm hidden-md hidden-lg eid">{{employee.id}}</div>
                    {% endfor %}
                    -->
                </div>
            </div>
        </div><!--EMPLOYEE INFORMATION ENDS-->

        <div class="col-lg-6 col-md-pull-5">

            <div class="col-md-10 hidden-xs"> <!--Cliente MENU-->

                <div class="spacer-lg"></div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" onclick="location.href = '/cliente/cadastro';" type="button">
                        <span>Cadastrar Novo Cliente</span>
                    </button>
                </div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" data-toggle="modal" href="#modalTable">
                        <span>Visualizar Clientes </span>
                    </button>
                </div>

            </div>

            <div class="hidden-sm hidden-md hidden-lg"> <!--Cliente MENU - XS-SCREEN-->

                <div class="spacer-lg"></div>

                <div class="btn-group btn-group-justified">

                    <button class="btn-block btnmenu hidden-xs" onclick="location.href = '/cliente/cadastro';" type="button">
                        <span>Cadastrar Novo Cliente</span>
                    </button>

                    <button class="btn-block btnmenu" data-toggle="modal" href="#modalTable">
                        <span>Visualizar Clientes </span>
                    </button>

                </div>

            </div>
        </div>

    </div> <!--CONTENT ROW ENDS-->

    <!--MODALS-->
    <div class="modal fade" id="modalTable"> <!--CLIENTE LISTING MODAL BEGINS-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header container-fluid">
                    <button type="button" class="close col-sm-1 col-sm-offset-10" data-dismiss="modal">&times;</button>
                    <div class="row">
                        <div class="spacer-sm"></div>
                        <div class="col-sm-8">
                            <h3 class="modal-title">Clientes Cadastrados</h3>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Pesquisar Funcionario..." id="js-filter-search">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {% render_table table 'django_tables2/bootstrap-responsive.html' %}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div> <!--CLIENTE LISTING MODAL ENDS-->



{% endblock content %}