{% extends 'base.html' %}

{% block content %}
    <legend class="text-center">
        <h1>
            Ordem de Serviço — {{OS.cliente}}</br>
            <small>#{{OS}} de {{OS.data_emissao}}</small>
        </h1>
    </legend> 

    <legend class="bold-text text-center">{{OS.local_servico.nome | upper}}</legend>


    <div class="col-sm-8 col-sm-offset-2">
        <div class="row"> <!--SERVICES-->
            <legend class="text-center bold-text">
                <h1><small>Serviços</small></h1>
            </legend>
            <table class="table">
                <thead>
                    <tr>
                        <th>Funcionário</th>
                        <th class="text-right">Quantidade de Horas</th>
                    </tr>
                </thead>
                {% for SD in OS.descricao_servico_OS.all %}
                    <tr>
                        <td>{{SD.funcionario}}</td>
                        <td class="text-right">{{SD.qtd_horas}}</td>
                    </tr>
                {% empty %}
                    Esta OS não Possui Serviços !
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-sm-1  col-sm-offset-7">
        <div class="spacer-xs"></div>
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btnmenu"><div class="glyphicon glyphicon-download-alt"></div></a>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="spacer-xs"></div>
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btnmenu">Excluir</a>
            <a href="#" class="btn btnmenu">Imprimir</a>
            <a href="#" class="btn btnmenu">Voltar</a>
        </div> 
    </div>



{% endblock content %}