{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block customjs %}
    <script>
        $(document).ready(function() {
            if ($("#tipoPessoa").val() == "F"){
                $('#doc').show();
                $('#docNumber').prop('required', true);
                $('#docNumber').val('')
                $('#docNumberLabel').html('Número do CPF');
                $('#docNumber').attr('placeholder', '000.000.000-00');
                $('#docNumber').attr('maxlength', '14');
            } else if ($("#tipoPessoa").val() == "J") {
                $('#doc').show();
                $('#docNumber').prop('required', true);
                $('#docNumber').val('')
                $('#docNumberLabel').html('Número do CNPJ');
                $('#docNumber').attr('placeholder', '00.000.000/0000-00');
                $('#docNumber').attr('maxlength', '18');
            }
            $('#docNumber').on('keypress', function(){
                if ($('#tipoPessoa').val() == "F") {
                    mascara(this, cpf);
                } else {
                    mascara(this, cnpj);
                }
            });

            $('#tipoPessoa').on('change', function(e){
                if (this.value == "F" || this.value == "J") {
                    $('#doc').show();
                    $('#docNumber').prop('required', true);
                    $('#docNumber').val('')
                    if (this.value == "F"){
                        $('#docNumberLabel').html('Número do CPF');
                        $('#docNumber').attr('placeholder', '000.000.000-00');
                        $('#docNumber').attr('maxlength', '14');
                    } else {
                        $('#docNumberLabel').html('Número do CNPJ');
                        $('#docNumber').attr('placeholder', '00.000.000/0000-00');
                        $('#docNumber').attr('maxlength', '18');
                    }
                } else {
                    $('#doc').hide();
                    $('#docNumber').prop('required', false);
                }
                
            });
        });

    </script>
{% endblock customjs %}

{% block content %}

    {% if wizard.form.numero_documento.errors %}
    <div id="alert" class="alert alert-danger alert-dismissible fade in col-sm-5">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

        {% if wizard.form.numero_documento.errors %}
            <div><strong>Número de Documento:</strong> {{ wizard.form.numero_documento.errors }}</div>
        {% endif %}


    </div>
    {% endif %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">    
        
        <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
            <span class="col-lg-6 pull-left hidden-xs">Cadastro de Cliente</span>
            <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro de Cliente</span>
            <small class="pull-right hidden-xs">Informações Básicas</small>
            <div class="spacer hidden-sm hidden-md hidden-lg"></div>
            <small class="hidden-sm hidden-md hidden-lg">Informações Básicas</small>
        </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="row">

                <!--ACTIVE CLIENT TOGGLE XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">Serviço Ativo: </label>
                    <div class="checkbox">
                        <label for="activeXS" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.servico_ativo id="activeXS" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--TEXT INPUT FIELDS-->
                <div class="col-lg-8" >

                    <!--NAME-->
                    <div class="form-group">
                        <label for="{{ wizard.form.nome.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.nome.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.nome class="form-control" placeholder=wizard.form.nome.label %}
                        </div>
                    </div>

                    <!--RESPONSIBLE EMPLOYEE NAME-->
                    <div class="form-group">
                        <label for="{{ wizard.form.nome_responsavel.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.nome_responsavel.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.nome_responsavel class="form-control" placeholder=wizard.form.nome_responsavel.label %}
                        </div>
                    </div>

                    <!--KIND OF PERSON-->
                    <div class="form-group">
                        <label for="{{ wizard.form.tipo_pessoa.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.tipo_pessoa.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.tipo_pessoa class="form-control" id="tipoPessoa"%}
                        </div>
                    </div>

                </div>

                <!--ACTIVE CLIENT TOGGLE XS-->
                <div class="col-lg-4">   
                    <div class="form-group hidden-xs">
                        <label class="col-sm-8">Serviço Ativo </label>
                        <div class="checkbox">
                            <label for="active" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.servico_ativo id="active" %}
                                <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <!--DOCUMENT NUMBER-->
                <div class="col-lg-4">
                    <div class="spacer-sm"></div>
                    <div class="form-group" hidden id="doc">
                        <label for="{{ wizard.form.numero_documento.id_for_label }}" id="docNumberLabel" class ="control-label col-lg-5 text-right">
                            Número do CNPJ
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.numero_documento class="form-control" id="docNumber" placeholder="000.000.000-00" %}
                        </div>
                    </div>
                </div>
                

            </div>
            
            {% include 'wizard_template_clientebuttons.html' %}
        
        </form>
    </div>

{% endblock content %}

