{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block linked_refs %}
{% endblock linked_refs %}

{% block custom_page_style %}
{% endblock custom_page_style %}

{% block content %}

    {% if wizard.form.end_fiscal_CEP.errors or wizard.form.end_servico_CEP.errors or wizard.form.end_fiscal_numero.errors or wizard.form.end_servico_numero.errors %}
        <div id="alert" class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            
            {% if wizard.form.end_fiscal_CEP.errors %}
                <div><strong>CEP FISCAL:</strong> {{ wizard.form.end_fiscal_CEP.errors }}</div>
            {% endif %}

            {% if wizard.form.end_servico_CEP.errors %}
                <div><strong>CEP SERVIÇO:</strong> {{ wizard.form.end_servico_CEP.errors }}</div>
            {% endif %}

            {% if wizard.form.end_fiscal_numero.errors %}
                <div><strong>Número Fiscal:</strong> {{ wizard.form.end_fiscal_numero.errors }}</div>
            {% endif %}

            {% if wizard.form.end_servico_numero.errors %}
                <div><strong>Número Serviço:</strong> {{ wizard.form.end_servico_numero.errors }}</div>
            {% endif %}

        </div>
    {% endif %}


    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">

        <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
            <span class="col-lg-6 pull-left hidden-xs">Cadastro de Cliente</span>
            <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro de Cliente</span>
            <small class="pull-right hidden-xs">Informações Complementares</small>
            <div class="spacer hidden-sm hidden-md hidden-lg"></div>
            <small class="hidden-sm hidden-md hidden-lg">Informações Complementares</small>
        </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}

            <div class="row">   <!--ROW 1 STARTS - TAXES ADRESS-->

                <legend class="text-right">Endereço Fiscal</legend>
                
                <div class="spacer"></div>
                
                <div class="col-lg-3">  <!--COL 1 STARTS-->
                    
                    <!--CEP-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_CEP.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_fiscal_CEP.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_fiscal_CEP class="form-control cep js-cep" placeholder=wizard.form.end_fiscal_CEP.label %}
                        </div>
                    </div>

                    <!--NEIGHBORHOOD-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_bairro.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_fiscal_bairro.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_fiscal_bairro class="form-control js-bairro" placeholder=wizard.form.end_fiscal_bairro.label  %}
                        </div>
                    </div>

                    <!--COMPLEMENT-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_complemento.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.end_fiscal_complemento.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.end_fiscal_complemento class="form-control" placeholder=wizard.form.end_fiscal_complemento.label %}
                        </div>
                    </div>


                </div>  <!--COL 1 ENDS-->

                <div class="col-lg-6">  <!--COL 2 STARTS-->
                    <!--MAIN ADDRESS-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal.id_for_label }}" class = "control-label col-lg-2 text-right">
                            {{wizard.form.end_fiscal.label}}
                        </label>
                        <div class="col-lg-10">
                            {% render_field wizard.form.end_fiscal class="form-control js-end" placeholder=wizard.form.end_fiscal.label %}
                        </div>
                    </div>

                    <!--COUNTY-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_municipio.id_for_label }}" class = "control-label col-lg-2 text-right">
                            {{wizard.form.end_fiscal_municipio.label}}
                        </label>
                        <div class="col-lg-10">
                            {% render_field wizard.form.end_fiscal_municipio class="form-control js-municipio" placeholder=wizard.form.end_fiscal_municipio.label  %}
                        </div>
                    </div>

                    <!--COUNTRY-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_pais.id_for_label }}" class = "control-label col-lg-2 text-right">
                            {{wizard.form.end_fiscal_pais.label}}
                        </label>
                        <div class="col-lg-10">
                            {% render_field wizard.form.end_fiscal_pais class="form-control" placeholder=wizard.form.end_fiscal_pais.label %}
                        </div>
                    </div>


                </div>  <!--COL 2 ENDS-->

                <div class="col-lg-3">  <!--COL 3 STARTS-->
                    <!--ADDRESS NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_numero.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_fiscal_numero.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_fiscal_numero class="form-control" placeholder=wizard.form.end_fiscal_numero.label %}
                        </div>
                    </div>

                    <!--STATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_fiscal_estado.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_fiscal_estado.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_fiscal_estado class="form-control js-estado" placeholder=wizard.form.end_fiscal_estado.label  %}
                        </div>
                    </div>


                </div>  <!--COL 3 ENDS-->
            </div>  <!--ROW 1 ENDS-->
            
            <div class="spacer-sm"></div>

            <div class="row">   <!--ROW 2 STARTS - CONTACT INFO 1-->

                <legend class="text-right">Informações de Contato</legend>

                <!--LANDLINE-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="{{ wizard.form.cont_tel_fixo.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.cont_tel_fixo.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.cont_tel_fixo class="form-control tel" placeholder="(000)00000000" type="tel" %}
                        </div>
                    </div>
                </div>

                
                <!--CEL-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="{{ wizard.form.cont_tel_cel.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.cont_tel_cel.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.cont_tel_cel class="form-control tel" placeholder="(DDD)000000000" %}
                        </div>
                    </div>
                </div>

                <!--EMAIL-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="{{ wizard.form.cont_email.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.cont_email.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.cont_email class="form-control emailvalidation" placeholder=wizard.form.cont_email.label type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="spacer-sm"></div>

            <div class="row">   <!--ROW 3 STARTS - CONTACT INFO 2-->

                <legend class="text-right">Informações de Contato Adicional</legend>

                <!--LANDLINE-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="{{ wizard.form.cont_tel_fixo_adicional.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.cont_tel_fixo_adicional.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.cont_tel_fixo_adicional class="form-control tel" placeholder="(000)00000000" type="tel" %}
                        </div>
                    </div>
                </div>

                
                <!--CEL-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="{{ wizard.form.cont_tel_cel_adicional.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.cont_tel_cel_adicional.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.cont_tel_cel_adicional class="form-control tel" placeholder="(DDD)000000000" %}
                        </div>
                    </div>
                </div>

                <!--EMAIL-->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="{{ wizard.form.cont_email_adicional.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.cont_email_adicional.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.cont_email_adicional class="form-control emailvalidation" placeholder=wizard.form.cont_email_adicional.label type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" %}
                        </div>
                    </div>
                </div>

            </div>            


            <div class="spacer"></div>

            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}