{% if wizard.steps.prev %}
<div class="btn-group col-lg-offset-9 col-lg-3">
    <button class="btn btn-md col-lg-6 " name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" style="background: RGB(18,43,65); color:white; border-color: white;">Início</button>
    <button class="btn btn-primary btn-md col-lg-6" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" style="background: RGB(18,43,65); color:white; border-color: white;">Anterior</button>
</div>
{% endif %}
{% if wizard.steps.next %}
<div class="btn-group col-lg-offset-9 col-lg-3">
    <button class="btn btn-success btn-md col-lg-12" type="submit" style="margin-top:10px; background: RGB(255, 163, 26); border-color: RGB(255, 163, 26);  color:white;">Próximo</button>
</div>
{% else %}
<div class="btn-group col-lg-offset-9 col-lg-3">
    <button class="btn btn-success btn-md col-lg-12" type="submit" style="margin-top:10px; background: RGB(255, 163, 26); color:white; border-color: RGB(255, 163, 26);">Salvar</button>
</div>
{% endif %}
