{% if wizard.steps.prev %}
<div class="btn-group col-lg-offset-9 col-lg-3 col-xs-12">
    <button class="btn btn-md col-lg-6 col-xs-6" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" style="background: var(--darkblue); color:white; border-color: white;">Início</button>
    <button class="btn btn-md col-lg-6 col-xs-6" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" style="background: var(--darkblue); color:white; border-color: white;">Anterior</button>
</div>
{% endif %}
{% if wizard.steps.next %}
<div class="btn-group col-lg-offset-9 col-lg-3 col-xs-12">
    {% if not wizard.steps.prev %}    
    <a class="btn btn-md col-lg-6 col-xs-6" data-toggle="modal" href="#modalExitForm" style="margin-top:10px; background: var(--darkblue); border-color: white;  color:white;">Sair</a>
    <button class="btn btn-md col-lg-6 col-xs-6" type="submit" style="margin-top:10px; background: var(--orange); border-color: white;  color:white;">Próximo</button>
    {% else %}
    <button class="btn btn-success btn-md col-lg-12 col-xs-12" type="submit" style="margin-top:10px; background: var(--orange); border-color: var(--orange);  color:white;">Próximo</button>
    {% endif %}
</div>
{% else %}
<div class="btn-group col-lg-offset-9 col-lg-3 col-xs-12">
    <button class="btn btn-success btn-md col-lg-12 col-xs-12" type="submit" style="margin-top:10px; background: var(--orange); color:white; border-color: var(--orange);">Salvar</button>
</div>
{% endif %}

<div class="modal fade" id="modalExitForm" tabindex="-1" role="dialog" aria-labelledby="modalExitForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Deseja mesmo sair ?</h3>

                <span class="text-justify bold-text">Ao sair do cadastro todas os dados já informados serão perdidos.</br>Tem certeza que deseja sair ?</span>
                <div class="spacer-xxs"></div>
                <div class="col-md-4 pull-right">
                    {% if 'editar' in request.path %}
                        {% with tot_len=request.path|length|add:"-16"|stringformat:"s" %}
                            {% with slicestr="-"|add:tot_len|add:":" %}
                            <a class="btn btn-md col-xs-5" href="{% url 'cliente/visualizar' request.path|slice:slicestr %}" style="background: var(--darkblue); color:white; border-color: white;">Sair</a>            
                            {% endwith %}
                        {% endwith %}
                    {% else %}
                    <a class="btn btn-md col-xs-5" href="{% url 'cliente/menu' %}" style="background: var(--darkblue); color:white; border-color: white;">Sair</a>            
                    {% endif %}
                    <button class="btn btn-md col-xs-7" data-dismiss="modal" type="button" style="background: var(--darkblue); color:white; border-color: white;">Cancelar</button>
                </div>
                <div class="spacer"></div>

            </div>
        </div>
    </div>
</div>

