<!--RGB(18,43,65) - RGB(255,163,26)-->

{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load django_tables2 %}

{% block head %}
    <title>BI4U - Funcionário</title>
{% endblock head %}

{% block custom_scripts %}

<script>

    $(document).ready(function(){

        // Adding Popover Event to Picture
        $('[data-toggle="popover"]').popover();


        if (window.location.hash === "#load") {

            $("#employee_preview").css('display', 'block');
        }

        $('#status-selection').on("change", function() {
            console.log('TESTE');
            ToggleObsBox();
        });

        // Table Filtering
        $("#js-filter-search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#js-filter-employee-table tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    })

    // Creating Visualize Employee URL and Assigning Window Location
    function visualizeEmployee() {
        var id = document.getElementById("eid").textContent

        if (id !== '') {
            window.location.assign("/funcionario/visualizar/" + id);
        } else if (id == ''){
            document.getElementById("alert2").style.display = "block";
        }
    }

</script>

{% endblock custom_scripts %}

{% block customcss %}

    <link rel="stylesheet" href='{% static "css/appmenu_funcionario.css" %}'>

{% endblock customcss %}


{% block content %}
    <div class="row"> <!--ERROR ROW BEGINS-->

        {% if ERROR == 1 %}
            <div id="alert" class="alert alert-warning alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Funcionário Não Encontrado!</strong> A busca pelo CPF do funcionário não retornou nenhum resultado.
            </div>
        {% endif %}

        {% if ERROR == 3 %}
            <div id="alert" class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Funcionário Já Desligado!</strong> O Funcionário que você tentou desligar já estava desativado.
            </div>
        {% endif %}

    </div> <!--ERROR ROW ENDS-->

    <div class="row"> <!--CONTENT ROW BEGINS-->
        <div class="col-lg-5 col-md-push-6"> <!--EMPLOYEE INFORMATION BEGINS-->
            <div class="spacer"></div>
            <legend for="Funcionario" class="text-right">Buscar Funcionário</legend>
            <form method="GET" action="/funcionario#load">
                <div class="input-group">
                    <input name="CPF" id="Funcionario" type="text" class="form-control cpf" placeholder="Insira o CPF do Funcionário">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

            <div class="row" style="display:none;" id="employee_preview">
                <div class="spacer hidden-xs"></div>
                <div class="hidden-sm hidden-md hidden-lg spacer-xl"></div>
                <div class="col-sm-3 col-sm-push-8 col-sm-offset-1 col-xs-offset-3">
                    <div class="spacer"></div>
                    {% if not object.ativo  %}
                        {% thumbnail imageObject.docscan_picture "250x250" colorspace="GRAY" as im %}
                        <img data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Clique aqui para maiores informações sobre o funcionário." src="{{ im.url }}" style='border-radius:50px; padding:1px; transform: translateY(-15%); cursor: pointer;' onclick="visualizeEmployee()">
                        {% empty %}
                            <button class="btn btnmenu" style="margin: 0;" onclick="visualizeEmployee()">Editar Cadastro</button>
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail imageObject.docscan_picture "250x250" as im %}
                        <img data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Clique aqui para maiores informações sobre o funcionário." src="{{ im.url }}" style='border-radius:50px; padding:1px; transform: translateY(-15%); cursor: pointer;' onclick="visualizeEmployee()">
                        {% empty %}
                            <button class="btn btnmenu" style="margin: 0;" onclick="visualizeEmployee()">Editar Cadastro</button>
                        {% endthumbnail %}
                    {% endif %}
                </div>

                <div class="col-sm-8 col-sm-pull-4 bold-text employee-info">

                    {% if object.obs_desligamento %}
                        <span class="text-danger">Funcionário Previamente Desligado com Ocorrência !</span>
                        <div class="spacer"></div>
                    {% endif %}

                    <div>Nome:<span class="pull-right">{{object.primeiro_nome}} {{object.ultimo_nome}}</span></div>
                    <div>CPF:<span class="pull-right" id="officialCPF" >{{object.numero_documento_CPF}}</span></div>
                    <div>Status:
                    <span class="pull-right">{{object.status}}</span>
                    </div>
                    <div>ID:<span class="pull-right" id="eid">{{object.id}}</span></div>
                    {% if object.obs_desligamento %}
                        <div id="currentPage" hidden></div>
                        <div id="totalPages" hidden></div>
                    {% endif %}

                </div>
            </div>
        </div><!--EMPLOYEE INFORMATION ENDS-->

        <div class="col-lg-6 col-md-pull-5">

            <div class="col-md-10 hidden-xs"> <!--FUNCIONÁRIO MENU-->

                <div class="spacer-xl"></div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" onclick="location.href = '/funcionario/cadastro';" type="button">
                        <span>Cadastro e-Social </span>
                    </button>
                </div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" data-toggle="modal" href="#modalTable">
                        <span>Visualizar Funcionários </span>
                    </button>
                </div>

            </div>

            <div class="hidden-sm hidden-md hidden-lg"> <!--FUNCIONÁRIO MENU - XS-SCREEN-->

                <div class="spacer-lg"></div>

                <div class="btn-group btn-group-justified">

                    <button class="btn-block btnmenu hidden-xs" onclick="location.href = '/funcionario/cadastro';" type="button">
                        <span>Cadastro e-Social </span>
                    </button>

                    <button class="btn-block btnmenu" data-toggle="modal" href="#modalTable">
                        <span>Visualizar Funcionários </span>
                    </button>
                </div>

            </div>
        </div>

    </div> <!--CONTENT ROW ENDS-->

    <!--MODALS-->
    <div class="modal fade" id="modalTable"> <!--FUNCIONARIOS LISTING MODAL BEGINS-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header container-fluid">
                    <button type="button" class="close col-sm-1 col-sm-offset-10" data-dismiss="modal">&times;</button>
                    <div class="row">
                        <div class="spacer-sm"></div>
                        <div class="col-sm-8">
                            <h3 class="modal-title">Funcionarios Cadastrados</h3>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Pesquisar Funcionario..." id="js-filter-search">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {% render_table table 'django_tables2/bootstrap-responsive.html' %}
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div> <!--FUNCIONARIOS LISTING MODAL ENDS-->

{% endblock content %}