<!--RGB(18,43,65) - RGB(255,163,26)-->

{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load django_tables2 %}

{% block head %}
    <title>BI4U - Funcionário</title>
{% endblock head %}

{% block custom_scripts %}

<script>

    $(document).ready(function(){
        /*
        // TEXTBOX PAGINATION
        if (1 == 1){
            var x = $('#contents').text();

            x = x.replace(/(((.|\n){300,}?\b)|((.|\n){1,299}(?!.)))/mg, '<div class="individual-page">$1</div>');

            $('#contents').html(x);

            $('#contents > .individual-page').each(function () {
                if ($(this).is(':first-child')) {
                $("#currentPage").html($(this).index());
            } else {
                $(this).hide()
                $("#totalPages").html($(this).index());
            }
            });

            if(parseInt($('#totalPages')) == 0){
                $('#next').hide();
                $('#prev').hide();
            } else {
                $('#next').show();
                $('#prev').show();
            }


            $('#next').on('click', function() {
                var currentPage = $('#currentPage').html()
                var totalPages = $('#totalPages').html()
                $($("#contents").children().get().reverse()).each(function() {
                if($(this).index() == parseInt(currentPage) + 1){
                    $('#currentPage').html(parseInt(currentPage) + 1)
                $('#currentPage').trigger('change');
                    $(this).show()
                } else if ($(this).index() == currentPage){
                    $(this).hide()
                }
            })
            })

            $('#prev').on('click', function() {
                var currentPage = $('#currentPage').html()
                var totalPages = $('#totalPages').html()
                if (!parseInt(currentPage) == 0){
                    $(this).show();
                    $($("#contents").children().get()).each(function() {
                    if($(this).index() == parseInt(currentPage) - 1){
                        $('#currentPage').html(parseInt(currentPage) - 1)
                        $('#currentPage').trigger('change');
                        $(this).show()
                    } else if ($(this).index() == currentPage){
                        $(this).hide()
                    }
                    })
                }
            })

            $('#currentPage').on('change', function() {

                if ($(this).html() == $('#totalPages').html()){
                $('#next').hide();
                } else {
                    $('#next').show();
                }
                if (parseInt($(this).html()) == 0){
                    $('#prev').prop('disabled', true);
                } else {
                    $('#prev').prop('disabled', false);
                }
            })
        }
        */
        // Enabling and Disabling Submit Button on ShutDown Form
        const selectElement = document.querySelector('#CPFConfirmation');

        selectElement.addEventListener('change', (event) => {
        var ofCPF = $('#officialCPF').text();
        var CPF = $('#CPFConfirmation').val();
        var id = document.getElementById("eid").textContent;

            if (ofCPF === CPF && ofCPF != "" && CPF != "") {
                $('#submitShutDown').prop("disabled", false);
                $('#shutDownID').val(id);
            } else {
                $('#submitShutDown').prop("disabled", true);
                $('#shutDownID').val('');
            }
        });

        // Adding Popover Event to Picture
        $('[data-toggle="popover"]').popover();


        if (window.location.hash === "#load") {

            $("#employee_preview").css('display', 'block');
        }

        $('#status-selection').on("change", function() {
            console.log('TESTE');
            ToggleObsBox();
        });

    })

    // Creating Visualize Employee URL and Assigning Window Location
    function visualizeEmployee() {
        var id = document.getElementById("eid").textContent

        if (id !== '') {
            window.location.assign("/funcionario/visualizar/" + id);
        } else if (id == ''){
            document.getElementById("alert2").style.display = "block";
        }
    }

    // Creating Obs Box In Status Change Modal
    function ToggleObsBox() {
        
        var OSDRB = document.getElementById('status-selection');
        var OSDTA = document.getElementById('obs');
        
        if (OSDRB.value == "occurrenceshutdown" || OSDRB.value == "startleave" || OSDRB.value == "startsuspension") {
            OSDTA.style.display = "block";
        } else {
            OSDTA.style.display = "none";
        }
    }
</script>

{% endblock custom_scripts %}

{% block customcss %}

    <link rel="stylesheet" href='{% static "css/appmenu_funcionario.css" %}'>

{% endblock customcss %}


{% block content %}
    <div class="row"> <!--ERROR ROW BEGINS-->

        {% if ERROR == 1 %}
            <div id="alert" class="alert alert-warning alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Funcionário Não Encontrado!</strong> A busca pelo CPF do funcionário não retornou nenhum resultado.
            </div>
        {% endif %}

        {% if ERROR == 3 %}
            <div id="alert" class="alert alert-danger alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Funcionário Já Desligado!</strong> O Funcionário que você tentou desligar já estava desativado.
            </div>
        {% endif %}

    </div> <!--ERROR ROW ENDS-->

    <div class="row"> <!--CONTENT ROW BEGINS-->
        <div class="col-lg-5 col-md-push-6"> <!--EMPLOYEE INFORMATION BEGINS-->
            <div class="spacer"></div>
            <legend for="Funcionario" class="text-right">Buscar Funcionário</legend>
            <form method="GET" action="/funcionario#load">
                <div class="input-group">
                    <input name="CPF" id="Funcionario" type="text" class="form-control cpf" placeholder="Insira o CPF do Funcionário">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

            <div class="row" style="display:none;" id="employee_preview">
                <div class="spacer hidden-xs"></div>
                <div class="hidden-sm hidden-md hidden-lg spacer-xl"></div>
                <div class="col-sm-3 col-sm-push-8 col-sm-offset-1 col-xs-offset-3">
                    <div class="spacer"></div>
                    {% if not object.ativo  %}
                        {% thumbnail imageObject.docscan_picture "250x250" colorspace="GRAY" as im %}
                        <img data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Clique aqui para maiores informações sobre o funcionário." src="{{ im.url }}" style='border-radius:50px; padding:1px; transform: translateY(-15%); cursor: pointer;' onclick="visualizeEmployee()">
                        {% empty %}
                            <button class="btn btnmenu" style="margin: 0;" onclick="visualizeEmployee()">Editar Cadastro</button>
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail imageObject.docscan_picture "250x250" as im %}
                        <img data-placement="bottom" data-toggle="popover" data-trigger="hover" data-content="Clique aqui para maiores informações sobre o funcionário." src="{{ im.url }}" style='border-radius:50px; padding:1px; transform: translateY(-15%); cursor: pointer;' onclick="visualizeEmployee()">
                        {% empty %}
                            <button class="btn btnmenu" style="margin: 0;" onclick="visualizeEmployee()">Editar Cadastro</button>
                        {% endthumbnail %}
                    {% endif %}
                </div>

                <div class="col-sm-8 col-sm-pull-4 bold-text employee-info">

                    {% if object.obs_desligamento %}
                        <span class="text-danger">Funcionário Previamente Desligado com Ocorrência !</span>
                        <div class="spacer"></div>
                    {% endif %}

                    <div>Nome:<span class="pull-right">{{object.primeiro_nome}} {{object.ultimo_nome}}</span></div>
                    <div>CPF:<span class="pull-right" id="officialCPF" >{{object.numero_documento_CPF}}</span></div>
                    <div>Status:
                    <span class="pull-right">{{object.status}}</span>
                    </div>
                    <div>ID:<span class="pull-right" id="eid">{{object.id}}</span></div>
                    {% if object.obs_desligamento %}
                    <div id="currentPage" hidden></div>
                    <div id="totalPages" hidden></div>
                    <!--
                    <div class="row">
                        <br>
                        <span class="col-md-4 col-sm-12 pull-left">Ocorrência:</span>
                        <span class="col-md-1 col-xs-12 text-justify" id="contents">{{object.obs_desligamento}}</span>

                        <div class="btn-group col-md-offset-10 col-xs-offset-8">
                            <button class="custom-paginator" id="prev" style="width:30px; height: 30px; border-radius:50%;">-</button>
                            <button class="custom-paginator" id="next">+</button>
                        </div>
                    </div>
                    -->
                    {% endif %}

                </div>
            </div>
        </div><!--EMPLOYEE INFORMATION ENDS-->

        <div class="col-lg-6 col-md-pull-5">

            <div class="col-md-10 hidden-xs"> <!--FUNCIONÁRIO MENU-->

                <div class="spacer-lg"></div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" onclick="location.href = '/funcionario/cadastro';" type="button">
                        <span>Cadastro e-Social </span>
                    </button>
                </div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" data-toggle="modal" href="#modalTable">
                        <span>Visualizar Funcionários </span>
                    </button>
                </div>

                <div class="col-md-8">
                    <button class="btn-block btnmenu panel-heading" data-toggle="modal" href="#modalShutDown">
                        <span>Alterar Status do Funcionário</span>
                    </button>
                </div>

            </div>

            <div class="hidden-sm hidden-md hidden-lg"> <!--FUNCIONÁRIO MENU - XS-SCREEN-->

                <div class="spacer-lg"></div>

                <div class="btn-group btn-group-justified">

                    <button class="btn-block btnmenu hidden-xs" onclick="location.href = '/funcionario/cadastro';" type="button">
                        <span>Cadastro e-Social </span>
                    </button>

                    <button class="btn-block btnmenu" data-toggle="modal" href="#modalTable">
                        <span>Visualizar Funcionários </span>
                    </button>

                    <button class="btn-block btnmenu lastbtn" data-toggle="modal" href="#modalShutDown">
                        <span>Alterar Status do Funcionário</span>
                    </button>

                </div>

            </div>
        </div>

    </div> <!--CONTENT ROW ENDS-->

    <!--MODALS-->
    <div class="modal fade" id="modalTable"> <!--FUNCIONARIOS LISTING MODAL BEGINS-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Funcionarios Cadastrados</h4>
                </div>
                <div class="modal-body">
                    {% render_table table 'django_tables2/bootstrap-responsive.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> <!--FUNCIONARIOS LISTING MODAL ENDS-->


    <div class="modal fade" id="modalShutDown"> <!--FUNCIONARIO SHUTDOWN MODAL BEGINS-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Alteração de Status - {{ object.primeiro_nome }} {{ object.ultimo_nome }}</h4>
                </div>
                <div class="modal-body">

                    <form method="POST" action="/funcionario/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="status-selection">Status</label>
                            <select name="status-selection" id="status-selection" class="form-control">
                                <optgroup label="Desligamento">
                                    <option value="shutdown">Desligar</option>
                                    <option value="occurrenceshutdown">Desligar com Ocorrência</option>
                                </optgroup>
                                <optgroup label="Férias">
                                    <option value="startvacation">Iniciar Férias</option>
                                    <option value="finishvacation">Finalizar Férias</option>
                                </optgroup>
                                <optgroup label="Afastamento">
                                    <option value="startleave">Iniciar Afastamento</option>
                                    <option value="finishleave">Finalizar Afastamento</option>
                                </optgroup>
                                <optgroup label="Suspenção">
                                    <option value="startsuspension">Iniciar Suspensão</option>
                                    <option value="finishsuspension">Finalizar Suspensão</option>
                                </optgroup>
                                <optgroup label="Reativação">
                                    <option value="reactivate">Reativar</option>
                                </optgroup>
                            </select>
                            <div class="spacer"></div>

                            <div class="form-group" id="obs" style="display:none;">
                                <label for="obsfield">Observação:</label>
                                <textarea class="form-control" name="obsfield" id="obsfield" rows="5" style="resize: none;"></textarea>
                            </div>

                            <div class="spacer"></div>

                            <label for="CPFConfirmation" class = "control-label">Digite o CPF Para Confirmar a Alteração de Status do Funcionário.</label>
                            <input name = "CPFConfirmation" type="text" class = "form-control cpf" id = "CPFConfirmation" placeholder="000.000.000-00">
                            <input name = "shutDownID" type="hidden" id = "shutDownID" value="">

                            <br>

                            <input id="submitShutDown" class="btn btn-sm btn-primary" type="submit" style="float:right;" value="Alterar Status" disabled>

                            <div class="spacer"></div>

                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> <!--FUNCIONARIO SHUTDOWN MODAL ENDS-->

{% endblock content %}