{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
    <title>BI4U - Editar Cadastro de Funcionário</title>
{% endblock head %}

{% block custom_scripts %}
<style>
.errorclass{
    border-color: red;
}
</style>
{% endblock custom_scripts %}

{% block content %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">
        
        <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
            <span class="col-lg-6 pull-left hidden-xs">Cadastro De Funcionário</span>
            <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro De Funcionário</span>
            <small class="pull-right hidden-xs">Informações de Cargo</small>
            <div class="spacer hidden-sm hidden-md hidden-lg"></div>
            <small class="hidden-sm hidden-md hidden-lg">Informações de Cargo</small>
        </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="row">   <!--ROW 1 STARTS-->
            
                <!--MANAGEMENT POSITION XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.funcao_gestor.label}} </label>
                    <div class="checkbox">
                        <label for="management-position-xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.funcao_gestor placeholder=wizard.form.funcao_gestor.label id="management-position-xs" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--POSITION OK-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.funcao_cargo.id_for_label }}" class = "control-label col-lg-2 text-right">
                        {{wizard.form.funcao_cargo.label}}
                    </label>
                    <div class="col-lg-10">
                        {% render_field wizard.form.funcao_cargo class="form-control" placeholder=wizard.form.funcao_cargo.label %}
                    </div>
                </div>

                <!--POSITION LEVEL OK-->
                <div class="form-group col-lg-2">
                    <label for="{{ wizard.form.funcao_nivel.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.funcao_nivel.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.funcao_nivel class="form-control" placeholder=wizard.form.funcao_nivel.label %}
                    </div>
                </div>

                <!--POSITION CBO-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.funcao_CBO.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.funcao_CBO.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.funcao_CBO class="form-control" placeholder=wizard.form.funcao_CBO.label %}
                    </div>
                </div>


                <!--MANAGEMENT POSITION OK -->
                <div class="form-group col-lg-2 hidden-xs" style="transform:translateY(-10%); float:right;">
                    <div style="transform:translate(-10%,-75%)">{{wizard.form.funcao_gestor.label}}</div>
                    <div class="checkbox">
                        <label for="{{ wizard.form.funcao_gestor.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.funcao_gestor placeholder=wizard.form.funcao_gestor.label %}
                            <span class="slider round"><span class="on">sim</span><span class="off">não</span></span>
                        </label>
                    </div>
                </div>

                <div class="spacer-lg hidden-sm hidden-md hidden-lg"></div>

            </div>  <!--ROW 1 ENDS-->

            <div class="row">   <!--ROW 2 STARTS-->
                
                <!--POSITION DESCRIPTION-->
                <label for="{{ wizard.form.funcao_descricao.id_for_label }}" class = "control-label text-right" style="transform: translateY(-25%);">
                    {{wizard.form.funcao_descricao.label}}
                </label>
                <div class="col-lg-12">
                    {% render_field wizard.form.funcao_descricao class="form-control" style="resize:none;"%}
                </div>

            </div>  <!--ROW 2 ENDS-->

            <div class="spacer"></div>

            <div class="spacer-lg hidden-sm hidden-md hidden-lg"></div>

            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}

'funcao_descricao'