{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block custom_page_style %}
{% endblock custom_page_style %}

{% block content %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">
        
        <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
            <span class="col-lg-6 pull-left hidden-xs">Cadastro De Funcionário</span>
            <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro De Funcionário</span>
            <small class="pull-right hidden-xs">Informações de Funcionário Deficiente</small>
            <div class="spacer hidden-sm hidden-md hidden-lg"></div>
            <small class="hidden-sm hidden-md hidden-lg" style="font-size: 0.54em;">Informações de Funcionário Deficiente</small>
        </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="row">   <!--ROW 1 STARTS-->

                <div class="col-lg-12">  <!--COL 1 STARTS-->
                    
                    <!--TYPE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.deficiencia_tipo.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.deficiencia_tipo.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.deficiencia_tipo class="form-control" placeholder=wizard.form.deficiencia_tipo.label  %}
                        </div>
                    </div>

                    <!--OBS-->
                    <div class="form-group">
                        <label for="{{ wizard.form.deficiencia_obs.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.deficiencia_obs.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.deficiencia_obs class="form-control" placeholder=wizard.form.deficiencia_obs.label style="resize:none;" %}
                        </div>
                    </div>

                </div>  <!--COL 1 ENDS-->
            </div>  <!--ROW 1 ENDS-->

            <div class="spacer-lg hidden-sm hidden-md hidden-lg"></div>

            {% include 'wizard_template_buttons.html' %}

        </form>
    </div>

{% endblock content %}