{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block custom_page_style %}
<style>
    .error_border {
        border-color: red;
    }
</style>
{% endblock custom_page_style %}

{% block content %}

    {% if wizard.form.docs_CNH_data_validade.errors or wizard.form.docs_CNH_data_primeira.errors or wizard.form.docs_CNH_data_emissao.errors or wizard.form.docs_CNH_UF.errors or wizard.form.docs_CNH_emissor.errors or wizard.form.docs_CNH_numero_geral.errors or wizard.form.docs_OC_data_emissao.errors or wizard.form.docs_OC_UF.errors or wizard.form.docs_OC_emissor.errors or wizard.form.docs_OC_numero_geral.errors or wizard.form.docs_RNE_data_emissao.errors or wizard.form.docs_RNE_UF.errors or wizard.form.docs_RNE_emissor.errors or wizard.form.docs_RNE_numero_geral.errors or wizard.form.docs_RG_data_emissao.errors or wizard.form.docs_RG_UF.errors or wizard.form.docs_RG_emissor.errors or wizard.form.docs_RG_numero_geral.errors or wizard.form.docs_TE_secao.errors or wizard.form.docs_TE_zona.errors or wizard.form.docs_TE_numero_geral.errors or wizard.form.docs_CTPS_numero_geral.errors or wizard.form.docs_CTPS_numero_serie.errors or wizard.form.docs_CTPS_data_emissao.errors %}
        <div id="alert" class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% if wizard.form.docs_CTPS_numero_geral.errors %}
                <div><strong>Número CTPS:</strong> {{ wizard.form.docs_CTPS_numero_geral.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_CTPS_numero_serie.errors %}
                <div><strong>Número Série CTPS:</strong> {{ wizard.form.docs_CTPS_numero_serie.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_CTPS_data_emissao.errors %}
                <div><strong>Data Emissão CTPS:</strong> {{ wizard.form.docs_CTPS_data_emissao.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_TE_numero_geral.errors %}
                <div><strong>Número Título:</strong> {{ wizard.form.docs_TE_numero_geral.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_TE_zona.errors %}
                <div><strong>Zona Eleitoral:</strong> {{ wizard.form.docs_TE_zona.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_TE_secao.errors %}
                <div><strong>Seção Eleitoral:</strong> {{ wizard.form.docs_TE_secao.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RG_numero_geral.errors %}
                <div><strong>Número RG:</strong> {{ wizard.form.docs_RG_numero_geral.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RG_emissor.errors %}
                <div><strong>Emissor RG:</strong> {{ wizard.form.docs_RG_emissor.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RG_UF.errors %}
                <div><strong>UF RG:</strong> {{ wizard.form.docs_RG_UF.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RG_data_emissao.errors %}
                <div><strong>Data Emissão RG:</strong> {{ wizard.form.docs_RG_data_emissao.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RNE_numero_geral.errors %}
                <div><strong>Número RNE:</strong> {{ wizard.form.docs_RNE_numero_geral.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RNE_emissor.errors %}
                <div><strong>Emissor RNE:</strong> {{ wizard.form.docs_RNE_emissor.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RNE_UF.errors %}
                <div><strong>UF RNE:</strong> {{ wizard.form.docs_RNE_UF.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_RNE_data_emissao.errors %}
                <div><strong>Data Emissão RNE:</strong> {{ wizard.form.docs_RNE_data_emissao.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_OC_numero_geral.errors %}
                <div><strong>Número OC:</strong> {{ wizard.form.docs_OC_numero_geral.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_OC_emissor.errors %}
                <div><strong>Emissor OC:</strong> {{ wizard.form.docs_OC_emissor.errors }}</div>
            {% endif %}
            
            {% if wizard.form.docs_OC_UF.errors %}
                <div><strong>UF OC:</strong> {{ wizard.form.docs_OC_UF.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_OC_data_emissao.errors %}
                <div><strong>Data Emissão OC:</strong> {{ wizard.form.docs_OC_data_emissao.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_CNH_numero_geral.errors %}
                <div><strong>Número CNH:</strong> {{ wizard.form.docs_CNH_numero_geral.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_CNH_emissor.errors %}
                <div><strong>Emissor CNH:</strong> {{ wizard.form.docs_CNH_emissor.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_CNH_UF.error %}
                <div><strong>UF CNH:</strong> {{ wizard.form.docs_CNH_UF.error }}</div>
            {% endif %}

            {% if wizard.form.docs_CNH_data_emissao.errors %}
                <div><strong>Data Emissão CNH:</strong> {{ wizard.form.docs_CNH_data_emissao.errors }}</div>
            {% endif %}
            
            {% if wizard.form.docs_CNH_data_primeira.errors %}
                <div><strong>Data Primeira CNH:</strong> {{ wizard.form.docs_CNH_data_primeira.errors }}</div>
            {% endif %}

            {% if wizard.form.docs_CNH_data_validade.errors %}
                <div><strong>Data Validade CNH:</strong> {{ wizard.form.docs_CNH_data_validade.errors }}</div>
            {% endif %}

        </div> 

    {% endif %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">
        <h2 class="page-header" style="margin-bottom: 40px">Cadastro De Funcionário<small class="col-lg-offset-5">Informações de Documentos</small></h2>
        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="row">   <!--ROW 1 STARTS-->
                <div class="col-lg-6"> <!--COL 1 STARTS-->

                    <!--CTPS MAIN NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CTPS_numero_geral.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_CTPS_numero_geral.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_CTPS_numero_geral class="form-control" placeholder=wizard.form.docs_CTPS_numero_geral.label %}
                        </div>
                    </div>

                    <!--CTPS UF-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CTPS_UF.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_CTPS_UF.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_CTPS_UF class="form-control" placeholder=wizard.form.docs_CTPS_UF.label  %}
                        </div>
                    </div>

                </div>  <!--COL 1 ENDS-->

                <div class="col-lg-6"> <!--COL 2 STARTS-->

                    <!--CTPS SERIAL NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CTPS_numero_serie.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_CTPS_numero_serie.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_CTPS_numero_serie class="form-control" placeholder=wizard.form.docs_CTPS_numero_serie.label  %}
                        </div>
                    </div>

                    <!--CTPS ISSUE DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CTPS_data_emissao.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_CTPS_data_emissao.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_CTPS_data_emissao class="form-control date" placeholder="DD/MM/YYYY" %}
                        </div>
                    </div>

                </div>  <!--COL 2 ENDS-->

            </div>  <!--ROW 1 ENDS-->

            <div class="spacer"></div>

            <div class="row">   <!--ROW 2 STARTS-->
                <div class="col-lg-4">  <!--COL 1 STARTS-->
                    
                    <!--TE MAIN NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_TE_numero_geral.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_TE_numero_geral.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_TE_numero_geral class="form-control" placeholder=wizard.form.docs_TE_numero_geral.label  %}
                        </div>
                    </div>

                    <!--TE ZONE NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_TE_zona.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_TE_zona.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_TE_zona class="form-control" placeholder=wizard.form.docs_TE_zona.label  %}
                        </div>
                    </div>

                    <!--TE SECTION NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_TE_secao.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_TE_secao.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_TE_secao class="form-control" placeholder=wizard.form.docs_TE_secao.label  %}
                        </div>
                    </div>


                </div>  <!--COL 1 ENDS-->

                <div class="col-lg-4">  <!--COL 2 STARTS-->
                    
                    <!--RG MAIN NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RG_numero_geral.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RG_numero_geral.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RG_numero_geral class="form-control" placeholder=wizard.form.docs_RG_numero_geral.label  %}
                        </div>
                    </div>

                    <!--RG ISSUER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RG_emissor.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RG_emissor.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RG_emissor class="form-control" placeholder=wizard.form.docs_RG_emissor.label  %}
                        </div>
                    </div>

                    <!--RG UF-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RG_UF.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RG_UF.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RG_UF class="form-control" placeholder=wizard.form.docs_RG_UF.label  %}
                        </div>
                    </div>

                    <!--RG ISSUE DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RG_data_emissao.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RG_data_emissao.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RG_data_emissao class="form-control date" placeholder="DD/MM/YYYY" %}
                        </div>
                    </div>

                </div>  <!--COL 2 ENDS-->
                
                <div class="col-lg-4">  <!--COL 3 STARTS-->
                    <!--RNE MAIN NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RNE_numero_geral.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RNE_numero_geral.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RNE_numero_geral class="form-control" placeholder=wizard.form.docs_RNE_numero_geral.label  %}
                        </div>
                    </div>
                    
                    <!--RNE ISSUER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RNE_emissor.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RNE_emissor.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RNE_emissor class="form-control" placeholder=wizard.form.docs_RNE_emissor.label  %}
                        </div>
                    </div>

                    <!--RNE UF-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RNE_UF.id_for_label }}" class = "control-label col-lg-5 text-right">
                            {{wizard.form.docs_RNE_UF.label}}
                        </label>
                        <div class="col-lg-7">
                            {% render_field wizard.form.docs_RNE_UF class="form-control" placeholder=wizard.form.docs_RNE_UF.label  %}
                        </div>
                    </div>

                    <!--RNE ISSUE DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_RNE_data_emissao.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_RNE_data_emissao.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_RNE_data_emissao class="form-control date" placeholder="DD/MM/YYYY"  %}
                        </div>
                    </div>

                </div>  <!--COL 3 ENDS-->
            </div>  <!--ROW 2 ENDS-->
            
            <div class="spacer"></div>

            <div class="row">   <!--ROW 3 STARTS-->
                <div class="col-lg-4">  <!--COL 1 STARTS-->
                    
                    <!--OC MAIN NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_OC_numero_geral.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_OC_numero_geral.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_OC_numero_geral class="form-control" placeholder=wizard.form.docs_OC_numero_geral.label  %}
                        </div>
                    </div>
                    
                    <!--OC ISSUER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_OC_emissor.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_OC_emissor.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_OC_emissor class="form-control" placeholder=wizard.form.docs_OC_emissor.label  %}
                        </div>
                    </div>

                    <!--OC UF-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_OC_UF.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_OC_UF.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_OC_UF class="form-control" placeholder=wizard.form.docs_OC_UF.label  %}
                        </div>
                    </div>

                    <!--OC ISSUE DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_OC_data_emissao.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_OC_data_emissao.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_OC_data_emissao class="form-control date" placeholder="DD/MM/YYYY"  %}
                        </div>
                    </div>

                </div>  <!--COL 1 ENDS-->
                <div class="col-lg-4">  <!--COL 2 STARTS-->

                    <!--CNH MAIN NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_numero_geral.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_numero_geral.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_numero_geral class="form-control" placeholder=wizard.form.docs_CNH_numero_geral.label  %}
                        </div>
                    </div>

                    <!--CNH ISSUER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_emissor.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_emissor.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_emissor class="form-control" placeholder=wizard.form.docs_CNH_emissor.label  %}
                        </div>
                    </div>

                    <!--CNH UF-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_UF.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_UF.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_UF class="form-control" placeholder=wizard.form.docs_CNH_UF.label  %}
                        </div>
                    </div>

                    <!--CNH CATEGORY-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_categoria.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_categoria.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_categoria class="form-control" placeholder=wizard.form.docs_CNH_categoria.label  %}
                        </div>
                    </div>
                </div>  <!--COL 2 ENDS-->
                <div class="col-lg-4">  <!--COL 3 STARTS-->

                    <!--CNH ISSUE DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_data_emissao.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_data_emissao.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_data_emissao class="form-control date" placeholder="DD/MM/YYYY"  %}
                        </div>
                    </div>

                    <!--CNH FIRST ISSUE DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_data_primeira.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_data_primeira.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_data_primeira class="form-control date" placeholder="DD/MM/YYYY" %}
                        </div>
                    </div>

                    <!--CNH VALID DATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.docs_CNH_data_validade.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.docs_CNH_data_validade.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.docs_CNH_data_validade class="form-control date" placeholder="DD/MM/YYYY" %}
                        </div>
                    </div>
                </div>  <!--COL 3 ENDS-->
            </div>  <!--ROW 3 ENDS-->

            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}

'docs_CNH_data_emissao',
'docs_CNH_data_primeira',
'docs_CNH_data_validade'