{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block custom_page_style %}
<script type="text/javascript">
    $(document).ready(function(){
        //Put our input DOM element into a jQuery Object
        var $jqDate = jQuery('input[name="Basic Info-data_nascimento"]');

        //Bind keyup/keydown to the input
        $jqDate.bind('keyup','keydown', function(e){
            
        //To accomdate for backspacing, we detect which key was pressed - if backspace, do nothing:
        if(e.which !== 8) {	
            var numChars = $jqDate.val().length;
            if(numChars === 2 || numChars === 5){
                var thisVal = $jqDate.val();
                thisVal += '/';
                $jqDate.val(thisVal);
            }
        }
        });
    });
</script>

{% endblock custom_page_style %}

{% block content %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 40px; margin-bottom: 40px;">
        <h2 class="page-header" style="margin-bottom: 40px">Cadastro De Funcionário<small class="col-lg-offset-5">Informações Básicas</small></h2>
        <!--<h2 class="col-lg-offset-11" style="margin-bottom:40px;"><small class="col-lg-offset-6"> 1/11</small></h2>-->
        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            <div class="row">

                <!--TEXT INPUT FIELDS-->
                <div class="col-lg-8" >

                    <!--FIRST NAME-->
                    <div class="form-group">
                        <label for="{{ wizard.form.primeiro_nome.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.primeiro_nome.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.primeiro_nome class="form-control" placeholder=wizard.form.primeiro_nome.label %}
                        </div>
                    </div>

                    <!--LAST NAME-->
                    <div class="form-group">
                        <label for="{{ wizard.form.ultimo_nome.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.ultimo_nome.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.ultimo_nome class="form-control" placeholder=wizard.form.ultimo_nome.label %}
                        </div>
                    </div>

                    <!--BIRTHDATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.data_nascimento.id_for_label }}" class = "control-label col-lg-3 text-right dat">
                            {{wizard.form.data_nascimento.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.data_nascimento class="form-control" placeholder="DD/MM/YYYY"%}
                        </div>
                    </div>

                    <!--GENDER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.genero.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.genero.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.genero class="form-control"%}
                        </div>
                    </div>

                    <!--NATIONALITY-->
                    <div class="form-group">
                        <label for="{{ wizard.form.nacionalidade.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.nacionalidade.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.nacionalidade class="form-control" placeholder=wizard.form.nacionalidade.label %}
                        </div>
                    </div>

                    <!--STATE OF BIRTH-->
                    <div class="form-group">
                        <label for="{{ wizard.form.estado_nascimento.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.estado_nascimento.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.estado_nascimento class="form-control" %}
                        </div>
                    </div>
                </div>

                <!--BOOLEAN INPUT FIELDS-->
                <div class="col-lg-4">

                    <!--FIRST JOB-->
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <div class="checkbox">
                                <label for="{{ wizard.form.primeiro_emprego.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                    {% render_field wizard.form.primeiro_emprego %}
                                    {{wizard.form.primeiro_emprego.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--FOREIGNER-->
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <div class="checkbox">
                                <label for="{{ wizard.form.estrangeiro.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                    {% render_field wizard.form.estrangeiro %}
                                    {{wizard.form.estrangeiro.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--HANDICAPPED-->
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <div class="checkbox">
                                <label for="{{ wizard.form.deficiente.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                    {% render_field wizard.form.deficiente %}
                                    {{wizard.form.deficiente.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--INTERN-->
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <div class="checkbox">
                                <label for="{{ wizard.form.estagiario.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                    {% render_field wizard.form.estagiario %}
                                    {{wizard.form.estagiario.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--ANOTHER JOB-->
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <div class="checkbox">
                                <label for="{{ wizard.form.outro_emprego.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                    {% render_field wizard.form.outro_emprego %}
                                    {{wizard.form.outro_emprego.label}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--NATIONALITY-->
                    <div class="form-group">
                            <div class="col-lg-offset-1 col-lg-11" >
                                {% render_field wizard.form.municipio_nascimento class="form-control" placeholder=wizard.form.municipio_nascimento.label%}
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="row">

                <div class="col-lg-4">

                    <!--CPF NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.numero_documento_CPF.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.numero_documento_CPF.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.numero_documento_CPF class="form-control" placeholder=wizard.form.numero_documento_CPF.label %}
                        </div>
                    </div>

                    <!--NIT/INSS NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.numero_NIT_INSS.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.numero_NIT_INSS.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.numero_NIT_INSS class="form-control" placeholder=wizard.form.numero_NIT_INSS.label %}
                        </div>
                    </div>


                </div>

                <div class="col-lg-4">

                    <!--NIS NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.numero_inscricao_NIS.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.numero_inscricao_NIS.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.numero_inscricao_NIS class="form-control" placeholder=wizard.form.numero_inscricao_NIS.label%}
                        </div>
                    </div>

                    <!--NIT/INSS CODE NUMBER-->
                    <div class="form-group">
                            <label for="{{ wizard.form.numero_codigo_NIT.id_for_label }}" class = "control-label col-lg-6 text-right">
                                {{wizard.form.numero_codigo_NIT.label}}
                            </label>
                            <div class="col-lg-6">
                                {% render_field wizard.form.numero_codigo_NIT class="form-control" placeholder=wizard.form.numero_codigo_NIT.label%}
                            </div>
                        </div>    


                </div>

                <div class="col-lg-4">

                    <!--PIS/PASEP NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.numero_PIS_PASEP.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.numero_PIS_PASEP.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.numero_PIS_PASEP class="form-control" placeholder=wizard.form.numero_PIS_PASEP.label%}
                        </div>
                    </div>

                    <!--RACE/COLOR-->
                    <div class="form-group">
                        <label for="{{ wizard.form.raca_cor.id_for_label }}" class = "control-label col-lg-6 text-right">
                            {{wizard.form.raca_cor.label}}
                        </label>
                        <div class="col-lg-6">
                            {% render_field wizard.form.raca_cor class="form-control" placeholder=wizard.form.raca_cor.label%}
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">

                <div class="col-lg-8">
                    <!--MOTHER'S FULL NAME-->
                    <div class="form-group">
                        <label for="{{ wizard.form.nome_completo_mae.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.nome_completo_mae.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.nome_completo_mae class="form-control" placeholder=wizard.form.nome_completo_mae.label%}
                        </div>
                    </div>

                    <!--FATHER'S FULL NAME-->
                    <div class="form-group">
                        <label for="{{ wizard.form.nome_completo_pai.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.nome_completo_pai.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.nome_completo_pai class="form-control" placeholder=wizard.form.nome_completo_pai.label%}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">

                    <!--MARITAL STATUS-->
                    <div class="form-group">
                        <label for="{{ wizard.form.estado_civil.id_for_label }}" class = "control-label col-lg-4 text-right">
                            {{wizard.form.estado_civil.label}}
                        </label>
                        <div class="col-lg-8">
                            {% render_field wizard.form.estado_civil class="form-control" placeholder=wizard.form.estado_civil.label%}
                        </div>
                    </div>

                    <!--ACADEMIC LEVEL-->
                    <div class="form-group">
                        <label for="{{ wizard.form.escolaridade.id_for_label }}" class = "control-label col-lg-4 text-right">
                            {{wizard.form.escolaridade.label}}
                        </label>
                        <div class="col-lg-8">
                            {% render_field wizard.form.escolaridade class="form-control" placeholder=wizard.form.escolaridade.label%}
                        </div>
                    </div>



                </div>
            </div>
            
            {% include 'wizard_template_buttons.html' %}
        
        </form>
    </div>

{% endblock content %}

