{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block linked_refs %}
{% endblock linked_refs %}

{% block custom_page_style %}
{% endblock custom_page_style %}

{% block content %}

    {% if wizard.form.end_CEP.errors or wizard.form.end_numero.errors %}
        <div id="alert" class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            
            {% if wizard.form.end_CEP.errors %}
                <div><strong>CEP:</strong> {{ wizard.form.end_CEP.errors }}</div>
            {% endif %}

            {% if wizard.form.end_numero.errors %}
                <div><strong>Número:</strong> {{ wizard.form.end_numero.errors }}</div>
            {% endif %}

        </div>
    {% endif %}


    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">

        <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
            <span class="col-lg-6 pull-left hidden-xs">Cadastro de Funcionário</span>
            <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro de Funcionário</span>
            <small class="pull-right hidden-xs">Dados Complementares</small>
            <div class="spacer hidden-sm hidden-md hidden-lg"></div>
            <small class="hidden-sm hidden-md hidden-lg">Dados Complementares</small>
        </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}

            <div class="row">   <!--ROW 1 STARTS-->
                

                <!--RESIDENT ABROAD XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.end_residente_exterior.label}} </label>
                    <div class="checkbox" onclick='showField("checkbox_abroad_xs", "country_selector")'>
                        <label for="checkbox_abroad_xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.end_residente_exterior id="checkbox_abroad_xs"%}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--RESIDENT ABROAD-->
                <div class="col-lg-2 col-sm-6 hidden-xs" style= "right:0%;"> {{wizard.form.end_residente_exterior.label}} </div>
                <div class="form-group col-lg-2 col-sm-6 hidden-xs">
                    <div class="checkbox" onclick='showField("checkbox_abroad", "country_selector")'>
                        <label for="checkbox_abroad" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.end_residente_exterior id="checkbox_abroad"%}
                            <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                        </label>
                    </div>
                </div>
            
                <!--COUNTRY-->
                <div class="form-group col-lg-8 col-sm-12" style="visibility: hidden; transform: translateY(-25%);" id = "country_selector">
                    <label for="{{ wizard.form.end_pais.id_for_label }}" class = "control-label col-lg-2 text-right">
                        {{wizard.form.end_pais.label}}
                    </label>
                    <div class="col-lg-10">
                        {% render_field wizard.form.end_pais class="form-control" placeholder=wizard.form.end_pais.label %}
                    </div>
                </div>

            </div>

            <div class="spacer hidden-xs"></div>

            <div class="row">   <!--ROW 2 STARTS-->

                <div class="col-lg-3">  <!--COL 1 STARTS-->
                    
                    <!--CEP-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_CEP.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_CEP.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_CEP class="form-control cep" placeholder=wizard.form.end_CEP.label %}
                        </div>
                    </div>

                    <!--COUNTY-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_bairro.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_bairro.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_bairro class="form-control" placeholder=wizard.form.end_bairro.label  %}
                        </div>
                    </div>

                </div>  <!--COL 1 ENDS-->

                <div class="col-lg-6">  <!--COL 2 STARTS-->
                    <!--MAIN ADDRESS-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_geral.id_for_label }}" class = "control-label col-lg-2 text-right">
                            {{wizard.form.end_geral.label}}
                        </label>
                        <div class="col-lg-10">
                            {% render_field wizard.form.end_geral class="form-control" placeholder=wizard.form.end_geral.label %}
                        </div>
                    </div>

                    <!--NEIGHBORHOOD-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_municipio.id_for_label }}" class = "control-label col-lg-2 text-right">
                            {{wizard.form.end_municipio.label}}
                        </label>
                        <div class="col-lg-10">
                            {% render_field wizard.form.end_municipio class="form-control" placeholder=wizard.form.end_municipio.label  %}
                        </div>
                    </div>


                </div>  <!--COL 2 ENDS-->

                <div class="col-lg-3">  <!--COL 3 STARTS-->
                    <!--ADDRESS NUMBER-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_numero.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_numero.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_numero class="form-control" placeholder=wizard.form.end_numero.label %}
                        </div>
                    </div>

                    <!--STATE-->
                    <div class="form-group">
                        <label for="{{ wizard.form.end_estado.id_for_label }}" class = "control-label col-lg-3 text-right">
                            {{wizard.form.end_estado.label}}
                        </label>
                        <div class="col-lg-9">
                            {% render_field wizard.form.end_estado class="form-control" placeholder=wizard.form.end_estado.label  %}
                        </div>
                    </div>


                </div>  <!--COL 3 ENDS-->
            </div>  <!--ROW 2 ENDS-->
            
            <div class="spacer"></div>
        
            <div class="row">
                
                <!--OWN RESIDENCE-->
                <div class="form-group col-lg-3 col-xs-4">
                    <div class="col-lg-offset-1 col-lg-9">
                        <div class="checkbox">
                            <label for="{{ wizard.form.end_residencia_propria.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                {% render_field wizard.form.end_residencia_propria %}
                                {{wizard.form.end_residencia_propria.label}}
                            </label>
                        </div>
                    </div>
                </div>
                    
                <!--BOUGHT ON FGTS-->
                <div class="form-group col-lg-4 col-xs-8 pull-right">
                    <div class="col-lg-9">
                        <div class="checkbox">
                            <label for="{{ wizard.form.end_comprado_FGTS.id_for_label }}" class = "checkbox control-label" style="transform: translateY(-25%); float:left;">
                                {% render_field wizard.form.end_comprado_FGTS %}
                                {{wizard.form.end_comprado_FGTS.label}}
                            </label>
                        </div>
                    </div>
                </div>
                                
                <!--COMPLEMENT-->
                <div class="form-group col-lg-5">
                    <label for="{{ wizard.form.end_complemento.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.end_complemento.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.end_complemento class="form-control" placeholder=wizard.form.end_complemento.label %}
                    </div>
                </div>

            </div>  <!--ROW 2 ENDS-->

            <div class="spacer-lg hidden-sm hidden-md hidden-lg"></div>

            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}