{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block custom_scripts %}
<script>
    $(document).ready(function(){
        
        var elements = document.getElementsByClassName("emailvalidation");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("E-mail invalido");
                }
            };
            elements[i].oninput = function(e) {
                e.target.setCustomValidity("");
            };
        }
    });


</script>
{% endblock custom_scripts %}

{% block content %}

    {% if wizard.form.cont_tel_fixo.errors or wizard.form.end_numero.errors %}
    <div id="alert" class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        
        {% if wizard.form.cont_tel_fixo.errors %}
            <div><strong>Residêncial:</strong> {{ wizard.form.cont_tel_fixo.errors }}</div>
        {% endif %}

        {% if wizard.form.cont_tel_cel.errors %}
            <div><strong>Celular:</strong> {{ wizard.form.cont_tel_cel.errors }}</div>
        {% endif %}

        {% if wizard.form.cont_tel_recado.errors %}
            <div><strong>Recados:</strong> {{ wizard.form.cont_tel_recado.errors }}</div>
        {% endif %}

        {% if wizard.form.cont_email.errors %}
            <div><strong>E-Mail:</strong> {{ wizard.form.cont_email.errors }}</div>
        {% endif %}

    </div>
    {% endif %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">
        
        <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
            <span class="col-lg-6 pull-left hidden-xs">Cadastro De Funcionário</span>
            <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro De Funcionário</span>
            <small class="pull-right hidden-xs">Informações de Contato</small>
            <div class="spacer hidden-sm hidden-md hidden-lg"></div>
            <small class="hidden-sm hidden-md hidden-lg">Informações de Contato</small>
        </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="row">   <!--ROW 1 STARTS-->
                    
                <!--LANDLINE-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.cont_tel_fixo.id_for_label }}" class = "control-label col-lg-4 text-right">
                        {{wizard.form.cont_tel_fixo.label}}
                    </label>
                    <div class="col-lg-8">
                        {% render_field wizard.form.cont_tel_fixo class="form-control tel" placeholder="(DDD)00000000" type="tel" %}
                    </div>
                </div>

                
                <!--CEL-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.cont_tel_cel.id_for_label }}" class = "control-label col-lg-4 text-right">
                        {{wizard.form.cont_tel_cel.label}}
                    </label>
                    <div class="col-lg-8">
                        {% render_field wizard.form.cont_tel_cel class="form-control tel" placeholder="(DDD)000000000" %}
                    </div>
                </div>
                
            </div>  <!--ROW 1 ENDS-->

            <div class="spacer"></div>

            <div class="row">   <!--ROW 2 STARTS-->                    
                <!--MESSAGES PHONE-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.cont_tel_recado.id_for_label }}" class = "control-label col-lg-4 text-right">
                        {{wizard.form.cont_tel_recado.label}}
                    </label>
                    <div class="col-lg-8">
                        {% render_field wizard.form.cont_tel_recado class="form-control tel" placeholder="(DDD)00000000" %}
                    </div>
                </div>
                
                <!--EMAIL-->
                <div class="form-group col-lg-8">
                    <label for="{{ wizard.form.cont_email.id_for_label }}" class = "control-label col-lg-2 text-right">
                        {{wizard.form.cont_email.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.cont_email class="form-control emailvalidation" placeholder=wizard.form.cont_email.label type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" %}
                    </div>
                </div>


            </div>  <!--ROW 2 ENDS-->

            <div class="spacer-lg hidden-sm hidden-md hidden-lg"></div>

            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}
