{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block custom_scripts %}
<script>
    $(document).ready(function() {
        $(".js-beneficio-valor").each(function() {
            if (!$(this).find('input').val() == "") {
                if ($(this).css('display') == 'none') {
                    $(this).css('display', 'block');
                }
            } else {
                console.log('A');
                

                if ($(this).find('input').hasClass('js-meal-tgl')) {
                    console.log('meal');
                    $("input.js-meal-tgl[type=checkbox]").prop('checked', false);

                } else if ($(this).find('input').hasClass('js-food-tgl')) {
                    console.log('food');
                    $("input.js-food-tgl[type=checkbox]").prop('checked', false);

                } else if ($(this).find('input').hasClass('js-basket-tgl')) {
                    console.log('basket');
                    $("input.js-basket-tgl[type=checkbox]").prop('checked', false);

                } else if ($(this).find('input').hasClass('js-fuel-tgl')) {
                    console.log('fuel');
                    $("input.js-fuel-tgl[type=checkbox]").prop('checked', false);

                } else if ($(this).find('input').hasClass('js-transp-tgl')) {
                    console.log('transp');
                    $("input.js-transp-tgl[type=checkbox]").prop('checked', false);

                };
            } 
        });
    });
</script>
{% endblock custom_scripts %}

{% block content %}

    {% if wizard.form.contrat_data_admissao.errors or wizard.form.contrat_data_inicio.errors %}
    <div id="alert" class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        
        {% if wizard.form.contrat_data_admissao.errors %}
            <div><strong>Data de Admissão:</strong> {{ wizard.form.contrat_data_admissao.errors }}</div>
        {% endif %}

        {% if wizard.form.contrat_data_inicio.errors %}
            <div><strong>Data de Início:</strong> {{ wizard.form.contrat_data_inicio.errors }}</div>
        {% endif %}

    </div>
    {% endif %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">
        
            <h2 class="page-header row row-no-gutter" style="margin-bottom: 40px">
                <span class="col-lg-6 pull-left hidden-xs">Cadastro De Funcionário</span>
                <span class="text-nowrap hidden-sm hidden-md hidden-lg" style="font-size: 0.9em;">Cadastro De Funcionário</span>
                <small class="pull-right hidden-xs">Informações de Contrato</small>
                <div class="spacer hidden-sm hidden-md hidden-lg"></div>
                <small class="hidden-sm hidden-md hidden-lg">Informações de Contrato</small>
            </h2>

        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="row">   <!--ROW 1 STARTS-->
                
                <!--ADMISSION DATE-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_data_admissao.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_data_admissao.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_data_admissao class="form-control date" placeholder="DD/MM/YYYY"  %}
                    </div>
                </div>  
                
                <!--START DATE-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_data_inicio.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_data_inicio.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_data_inicio class="form-control date" placeholder="DD/MM/YYYY"  %}
                    </div>
                </div>  
                
                <!--LAST CHANGE IN POSITION DATE-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_data_ultima_alteracao_cargo.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_data_ultima_alteracao_cargo.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_data_ultima_alteracao_cargo class="form-control date" placeholder="DD/MM/YYYY"  %}
                    </div>
                </div>
                
                <div class="spacer-md"></div>

                <!--STARTING POSITION-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_cargo_inicial.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.contrat_cargo_inicial.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.contrat_cargo_inicial class="form-control" placeholder=wizard.form.contrat_cargo_inicial.label %}
                    </div>
                </div>  

                <!--STARTING PAYMENT-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_salario_base.id_for_label }}" class = "control-label col-lg-7 text-right">
                        {{wizard.form.contrat_salario_base.label}}
                    </label>
                    <div class="col-lg-5">
                        {% render_field wizard.form.contrat_salario_base class="form-control money" placeholder="0,00" %}
                    </div>
                </div>  

                <!--POSITION LEVEL-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_funcao_nivel_inicial.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.contrat_funcao_nivel_inicial.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.contrat_funcao_nivel_inicial class="form-control" placeholder=wizard.form.contrat_funcao_nivel_inicial.label %}
                    </div>
                </div>


            </div>
            <div class="row">

                <!--POSITION-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_funcao_cargo.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.contrat_funcao_cargo.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.contrat_funcao_cargo class="form-control" placeholder=wizard.form.contrat_funcao_cargo.label %}
                    </div>
                </div>


                <!--STARTING PAYMENT-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_salario_atual.id_for_label }}" class = "control-label col-lg-7 text-right">
                        {{wizard.form.contrat_salario_atual.label}}
                    </label>
                    <div class="col-lg-5">
                        {% render_field wizard.form.contrat_salario_atual class="form-control money" placeholder="0,00" %}
                    </div>
                </div>  

                <!--POSITION LEVEL-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_funcao_nivel.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.contrat_funcao_nivel.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.contrat_funcao_nivel class="form-control" placeholder=wizard.form.contrat_funcao_nivel.label %}
                    </div>
                </div>

                <div class="spacer-md"></div>

                <!--POSITION CBO-->
                <div class="form-group col-lg-4">
                    <label for="{{ wizard.form.contrat_funcao_CBO.id_for_label }}" class = "control-label col-lg-5 text-right">
                        {{wizard.form.contrat_funcao_CBO.label}}
                    </label>
                    <div class="col-lg-7">
                        {% render_field wizard.form.contrat_funcao_CBO class="form-control" placeholder=wizard.form.contrat_funcao_CBO.label %}
                    </div>

                    <div class="spacer-lg"></div>

                    <!--MANAGEMENT POSITION-->
                    <div class="col-lg-offset-2">
                        <div class="col-lg-6">{{wizard.form.contrat_funcao_gestor.label}}</div>
                        <div class="checkbox col-lg-6">
                            <label for="{{ wizard.form.contrat_funcao_gestor.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.contrat_funcao_gestor placeholder=wizard.form.contrat_funcao_gestor.label %}
                                <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="col-lg-8">   <!--ROW 2 STARTS-->
                    <!--POSITION DESCRIPTION-->
                    <label for="{{ wizard.form.contrat_funcao_descricao.id_for_label }}" class = "control-label col-lg-3" style="transform: translateY(-25%);">
                        {{wizard.form.contrat_funcao_descricao.label}}
                    </label>
                    <div class="col-lg-9">
                        {% render_field wizard.form.contrat_funcao_descricao class="form-control" style="resize:none;" placeholder=wizard.form.contrat_funcao_descricao.label %}
                    </div>
    
                </div>  <!--ROW 2 ENDS-->
    

            </div>  <!--ROW 1 ENDS-->

            <legend>Benefícios</legend>
            <div class="spacer"></div>

            <div class="row">   <!--ROW 2 STARTS-->
                
                <div class="col-lg-2"></div>

                <!--MEAL TICKET TOGGLE-->
                <div class="form-group col-lg-2 hidden-xs">
                    <div style="transform:translate(-2.5%,-75%)">{{wizard.form.contrat_vale_ref.label}}</div>
                    <div class="checkbox" onclick='displayField("id_Contractual Info-contrat_vale_ref", "vale_refeicao")'>
                        <label for="{{ wizard.form.contrat_vale_ref.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.contrat_vale_ref class="js-meal-tgl" %}
                            <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--MEAL TICKET TOGGLE XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.contrat_vale_ref.label}} </label>
                    <div class="checkbox" onclick='displayField("vale-ref-xs", "vale_refeicao-xs")'>
                        <label for="vale-ref-xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.contrat_vale_ref id="vale-ref-xs" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--MEAL TICKET VALUE XS-->
                <div class="form-group col-lg-6" id="vale_refeicao-xs" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_ref_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_ref_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_ref_valor class="form-control money" placeholder="0,00" %}
                    </div>
                    <div class="spacer-lg"></div>
                </div>

                <!--FOOD TICKET TOGGLE-->
                <div class="form-group col-lg-2 hidden-xs">
                    <div style="transform:translate(-10%,-75%)">{{wizard.form.contrat_vale_alim.label}}</div>
                    <div class="checkbox" onclick='displayField("id_Contractual Info-contrat_vale_alim", "vale_alimentacao")'>
                        <label for="{{ wizard.form.contrat_vale_alim.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.contrat_vale_alim class="js-food-tgl" %}
                            <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--FOOD TICKET TOGGLE XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.contrat_vale_alim.label}}</label>
                    <div class="checkbox" onclick='displayField("vale-alim-xs", "vale_alimentacao-xs")'>
                        <label for="vale-alim-xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.contrat_vale_alim id="vale-alim-xs" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--FOOD TICKET VALUE XS-->
                <div class="form-group col-lg-6" id="vale_alimentacao-xs" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_alim_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_alim_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_alim_valor class="form-control money" placeholder="0,00" %}
                    </div>
                    <div class="spacer-lg"></div>
                </div>

                <!--BASIC FOOD BASKET TOGGLE-->
                <div class="form-group col-lg-2 hidden-xs">
                    <div style="transform:translate(-2.5%,-75%)">{{wizard.form.contrat_cesta.label}}</div>
                    <div class="checkbox" onclick='displayField("id_Contractual Info-contrat_cesta", "cesta_basica")'>
                        <label for="{{ wizard.form.contrat_cesta.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.contrat_cesta class="js-basket-tgl" %}
                            <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--BASIC FOOD BASKET TOGGLE XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.contrat_cesta.label}}</label>
                    <div class="checkbox" onclick='displayField("cesta_basica-tog-xs", "cesta_basica-xs")'>
                        <label for="cesta_basica-tog-xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.contrat_cesta id="cesta_basica-tog-xs" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>
                
                <!--BASIC FOOD BASKET VALUE XS-->
                <div class="form-group col-lg-6" id="cesta_basica-xs" style="display:none;">
                    <label for="{{ wizard.form.contrat_cesta_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_cesta_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_cesta_valor class="form-control money" placeholder="0,00" %}
                    </div>
                    <div class="spacer-lg"></div>
                </div>

                <!--FUEL VOUCHER TOGGLE-->
                <div class="form-group col-lg-2 hidden-xs">
                    <div style="transform:translate(-10%,-75%)">{{wizard.form.contrat_vale_comb.label}}</div>
                    <div class="checkbox" onclick='displayField("id_Contractual Info-contrat_vale_comb", "vale_combustivel")'>
                        <label for="{{ wizard.form.contrat_vale_comb.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.contrat_vale_comb class="js-fuel-tgl" %}
                            <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                        </label>
                    </div>
                </div>
                
                <!--FUEL VOUCHER TOGGLE XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.contrat_vale_comb.label}}</label>
                    <div class="checkbox" onclick='displayField("vale_comb-xs", "vale_combustivel-xs")'>
                        <label for="vale_comb-xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.contrat_vale_comb id="vale_comb-xs" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>
                
                <!--FUEL VOUCHER VALUE XS-->
                <div class="form-group col-lg-6" id="vale_combustivel-xs" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_comb_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_comb_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_comb_valor class="form-control money" placeholder="0,00" %}
                    </div>
                    <div class="spacer-lg"></div>
                </div>

                <!--TRANSPORTATION VOUCHER TOGGLE-->
                <div class="form-group col-lg-2 hidden-xs">
                    <div style="transform:translate(-7.5%,-75%)">{{wizard.form.contrat_vale_transp.label}}</div>
                    <div class="checkbox" onclick='displayField("id_Contractual Info-contrat_vale_transp", "vale_transporte")'>
                        <label for="{{ wizard.form.contrat_vale_transp.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.contrat_vale_transp class="js-transp-tgl" %}
                            <span class="slider round"><span class="on">SIM</span><span class="off">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--TRANSPORTATION VOUCHER TOGGLE XS-->
                <div class="form-group hidden-sm hidden-md hidden-lg">
                    <label class="col-xs-8">{{wizard.form.contrat_vale_transp.label}}</label>
                    <div class="checkbox" onclick='displayField("vale-transp-xs", "vale_transporte-xs")'>
                        <label for="vale-transp-xs" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.contrat_vale_transp id="vale-transp-xs" %}
                            <span class="slider round"><span class="on text-left">SIM</span><span class="off text-right">NÃO</span></span>
                        </label>
                    </div>
                </div>

                <!--TRANSPORTATION VOUCHER VALUE-->
                <div class="form-group col-lg-6" id="vale_transporte-xs" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_transp_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_transp_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_transp_valor class="form-control money" placeholder="0,00" %}
                    </div>
                    <div class="spacer-lg"></div>
                </div>


            </div>  <!--ROW 2 ENDS-->

            <div class="row">   <!--ROW 3 STARTS-->
                
                <!--MEAL TICKET VALUE-->
                <div class="form-group col-lg-6 js-beneficio-valor" id="vale_refeicao" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_ref_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_ref_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_ref_valor class="form-control money js-meal-tgl" placeholder="0,00" %}
                    </div>
                </div>

                <!--FOOD TICKET VALUE-->
                <div class="form-group col-lg-6 js-beneficio-valor" id="vale_alimentacao" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_alim_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_alim_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_alim_valor class="form-control money js-food-tgl" placeholder="0,00" %}
                    </div>
                </div>  

                <!--BASIC FOOD BASKET VALUE-->
                <div class="form-group col-lg-6 js-beneficio-valor" id="cesta_basica" style="display:none;">
                    <label for="{{ wizard.form.contrat_cesta_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_cesta_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_cesta_valor class="form-control money js-basket-tgl" placeholder="0,00" %}
                    </div>
                </div>  

                <!--FUEL VOUCHER VALUE-->
                <div class="form-group col-lg-6 js-beneficio-valor" id="vale_combustivel" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_comb_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_comb_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_comb_valor class="form-control money js-fuel-tgl" placeholder="0,00" %}
                    </div>
                </div>  

                <!--TRANSPORTATION VOUCHER VALUE-->
                <div class="form-group col-lg-6 js-beneficio-valor" id="vale_transporte" style="display:none;">
                    <label for="{{ wizard.form.contrat_vale_transp_valor.id_for_label }}" class = "control-label col-lg-6 text-right">
                        {{wizard.form.contrat_vale_transp_valor.label}}
                    </label>
                    <div class="col-lg-6">
                        {% render_field wizard.form.contrat_vale_transp_valor class="form-control money js-transp-tgl" placeholder="0,00" %}
                    </div>
                </div>  





            </div>  <!--ROW 3 ENDS-->



            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}


'contrat_vale_alim',
'contrat_vale_alim_valor',
'contrat_vale_ref',
'contrat_vale_ref_valor',
'contrat_cesta',
'contrat_cesta_valor',
'contrat_vale_comb',
'contrat_vale_comb_valor',
'contrat_vale_transp',
'contrat_vale_transp_valor',
