{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ wizard.form.media }}
{% endblock head %}

{% block custom_page_style %}
{% endblock custom_page_style %}

{% block content %}

    {% if wizard.form.estr_data_naturalizacao.errors or wizard.form.estr_data_chegada.errors %}
    <div id="alert" class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% if wizard.form.estr_data_naturalizacao.errors %}
            <div><strong>Data de Naturalização:</strong> {{ wizard.form.estr_data_naturalizacao.errors }}</div>
        {% endif %}

        {% if wizard.form.estr_data_chegada.errors %}
            <div><strong>Data de Chegada:</strong> {{ wizard.form.estr_data_chegada.errors }}</div>
        {% endif %}
    </div>
    {% endif %}

    <div class="container" style = "border: solid 3px black; border-radius: 10px; padding: 40px; margin-top: 10px; margin-bottom: 40px;">
        <h2 class="page-header" style="margin-bottom: 40px">Cadastro De Funcionário<small class="col-lg-offset-4">Informações de Funcionario Estrangeiro</small></h2>
        <form action="" method="post" class = "form-horizontal col-lg-12" enctype="multipart/form-data" style="padding:0">
            {% csrf_token %}
            {{ wizard.management_form }}
            
            <div class="spacer"></div>

            <div class="row">   <!--ROW 1 STARTS-->
                
                <!--CITIZENSHIP TOGGLE-->
                <div class="form-group col-lg-2">
                    <div class="checkbox col-lg-offset-6" onclick='showField("citizenship", "citizenship_date")'>
                        <label for="citizenship" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                                {% render_field wizard.form.estr_naturalizado id="citizenship" %}
                            <span class="slider round"><span class="on">sim</span><span class="off">não</span></span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3" style= "right:0%;"> {{wizard.form.estr_naturalizado.label}} </div>

                <!--CITIZENSHIP DATE-->
                <div class="form-group col-lg-7"  style="visibility: hidden; transform: translateY(-25%);" id = "citizenship_date">
                    <label for="{{ wizard.form.estr_data_naturalizacao.id_for_label }}" class = "control-label col-lg-4 text-right">
                        {{wizard.form.estr_data_naturalizacao.label}}
                    </label>
                    <div class="col-lg-4">
                        {% render_field wizard.form.estr_data_naturalizacao class="form-control date" placeholder="DD/MM/YYYY" %}
                    </div>
                </div>
    
            </div>  <!--ROW 1 ENDS-->

            <div class="row">   <!--ROW 2 STARTS-->                    
                                
                <!--MARRIED TOGGLE-->
                <div class="form-group col-lg-2">
                    <div class="checkbox col-lg-offset-6">
                        <label for="{{ wizard.form.estr_casado_brasileiro.id_for_label }}" class = "checkbox control-label switch" style="transform: translateY(-50%);">
                            {% render_field wizard.form.estr_casado_brasileiro %}
                            <span class="slider round"><span class="on">sim</span><span class="off">não</span></span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3" style= "right:0%;"> {{wizard.form.estr_casado_brasileiro.label}} </div>
                
                <!--ARRIVAL DATE-->
                <div class="form-group col-lg-7">
                    <label for="{{ wizard.form.estr_data_chegada.id_for_label }}" class = "control-label col-lg-4 text-right  transform: translateY(-25%);">
                        {{wizard.form.estr_data_chegada.label}}
                    </label>
                    <div class="col-lg-4">
                        {% render_field wizard.form.estr_data_chegada class="form-control date" placeholder="DD/MM/YYYY" %}
                    </div>
                </div>              

            </div>  <!--ROW 2 ENDS-->

            {% include 'wizard_template_buttons.html' %}
        </form>
    </div>

{% endblock content %}
